<section>
    <ul class="fer_table">
        <li class="fer_tr">
            <span class="fer_th">編號</span>
            <span class="fer_th">項目</span>
            <span class="fer_th">說明</span>
        </li>
        <li class="fer_tr">
            <span class="fer_td">
                0000
            </span>
            <span class="fer_td">
                結售之外匯原係以新台幣結購存入
            </span>
            <span class="fer_td">
                結售之外匯存款原係以新台幣結購存入，並無其他來源。
            </span>
        </li>
        <li class="fer_tr">
            <span class="fer_td">
                191E
            </span>
            <span class="fer_td">
                文化收入
            </span>
            <span class="fer_td">
                圖書館、博物館及其他文化、體育、娛樂有關的活動或演出的收入，包括函授課程收入。
            </span>
        </li>
        <li class="fer_tr">
            <span class="fer_td">
                191E
            </span>
            <span class="fer_td">
                文化收入
            </span>
            <span class="fer_td">
                圖書館、博物館及其他文化、體育、娛樂有關的活動或演出的收入，包括函授課程收入。
            </span>
        </li>
        <li class="fer_tr">
            <span class="fer_td">
                191E
            </span>
            <span class="fer_td">
                文化收入
            </span>
            <span class="fer_td">
                圖書館、博物館及其他文化、體育、娛樂有關的活動或演出的收入，包括函授課程收入。
            </span>
        </li>
    </ul>
</section>
