<!--AppView/msg/FUND06.html-->
<!-- popup window -->
<div class="popup_window popup_open">
    <!-- 「popup_open」為開啟popup的樣式，將此樣式移除可關閉popup -->
    <div class="popup_content">
        <!-- 副標列 -->
        <div class="row_single">
            <h4 class="simple_title">(預約)贖回說明</h4>
        </div>
        <!-- 副標列 End -->
        <div class="row_single">
            <p class="inner_content">
                注意事項：
                <br> 1.舊信託帳戶客戶(持實體憑證)請臨櫃辦理「贖回」申請並繳回 / 掛失 「信託憑證」。
                <br> 2.若該筆交易編號有部份贖回情形，累計配息將依贖回投資金額等比例調整，以延續原有報酬率。
                <br> 3.贖回申請時間至每一營業日下午3:00，超過時間者除特殊事件或另有約定外，視為次日申請。
                <br> 4.定期定額 /定期不定額之交易編號申請全部贖回、「全部贖回本筆契約是否終止」選擇否，將視為終止投資，嗣後將無法恢復投資。
                <br> 5.「贖回款存入帳號」僅可選擇已約定網銀轉出之存款帳號。
            </p>

            <div class="row_single"></div>
            <div class="row_single">
                <a href="javascript:void(0)" class="button_confirm" (click)="agree()">確定</a>
            </div>
        </div>
    </div>
</div>
