<h2 class="sub_title_inner">{{'CTRL_DIVIDEND.CHECK.EXCHANGE_SUCCESS' | translate}}</h2>
<!-- 兌換完成 -->
<div class="bc_frame">
	<div class="row_single info_list">
		<table class="check_form"><tr>
		<td align="left"><i class="info_title">{{'CTRL_DIVIDEND.MSG.EXCHANGE' | translate}}</i></td><!-- 兌換點數 -->
		<td align="right"><p class="info_conetnt">{{dividend_trans}}</p></td>
		</tr></table>
	</div>
	
	<div class="row_single info_list">
		<table class="check_form"><tr>
		<td align="left"><i class="info_title">{{'CTRL_DIVIDEND.MSG.TRANSFER_MONEY' | translate}}</i></td><!-- 折抵新臺幣 -->
		<td align="right"><p class="info_conetnt">{{money}}{{'MONEY.DOLLAR' | translate}}</p></td>
		</tr></table>
	</div>
	<div class="row_single info_list">
		<table class="check_form"><tr>
		<td align="left"><i class="info_title">{{'CTRL_DIVIDEND.MSG.AFTER_TRANSFER' | translate}}</i></td><!-- 剩餘點數 -->
		<td align="right"><p class="info_conetnt">{{dividend_point}}</p></td>
		</tr></table>
	</div>
	<div class="row_single2">
		<button class="button_confirm" ui-sref="home">{{'BTN.BACK_TO_HOME' | translate}}</button>
	</div>

	




</div>