<div class="wrapper">
        <!--header-->
        <div class="row">
            <header class="main_nav">
                <div class="back_bt" ng-click="clickBack()">
                    <p class="back_title">返回</p>
                </div>
                <div class="page_title">個資法告知義務同意條款</div>
                <div class="bank_logo">
                    <img class="logo" src="ui/tcbbOldStyle/image/cobanklogo.png">
                </div>
            </header>
        </div>
        <!--row-->
        <!--header end-->
    
        <!--section 扣款帳號設定頁面-->
        <div class="row">
            <section class="" style="background-color:rgb(194, 238, 119);padding: 10px;top:90px">
                <div class="row">
                    <div class="main_content" >
                        
                    <p style="font-size: 18px; font-weight: bold;color:black;text-align:center"><br><br><br>合作金庫商業銀行履行個人資料保護法第八條告知義務內容</p><br>
                        
                    <p style="font-size: 16px;color:black;text-align:left">親愛的客戶您好，由於個人資料之蒐集，涉及 臺端的隱私權益，合作金庫商業銀行股份有限公司（以下稱本行）向 臺
                        端蒐集個人資料時，依據個人資料保護法（以下稱個資法）第八條第一項規定，應明確向 臺端告知下列事項，請 臺端
                        詳閱：<br>
                        一、蒐集之目的：有關本行蒐集 臺端個人資料之目的(特定目的之說明)，請 臺端詳閱如下附表。<br><br>
                        二、蒐集之個人資料類別：姓名、身分證統一編號、性別、出生年月日、通訊方式及其他詳如相關業務申請書或契約書
                        之內容，並以本行與 臺端往來之相關業務、帳戶或服務及自 臺端或第三人處（例如：財團法人金融聯合徵信中
                        心）所實際蒐集之個人資料為準。<br><br>
                        三、個人資料利用之期間、地區、對象及方式：<br><br>
                        （一）個人資料利用之期間（以期限最長者為準）：
                        1、個人資料蒐集之特定目的存續期間。
                        2、依相關法令所定（例如商業會計法等)或因執行業務所必須之保存期間或依個別契約就資料之保存所定
                        之保存年限。<br><br>
                        （二）個人資料利用之地區：下列「個人資料利用之對象」欄位所列之利用對象其國內及國外所在地。<br><br>
                        （三）個人資料利用之對象：
                        1、本行(含受本行委託處理事務之委外機構)。
                        2、依法令規定利用之機構（例如：本行母公司或所屬金融控股公司之子公司等）。
                        3、其他業務相關之機構（例如：通匯行、財團法人金融聯合徵信中心、財團法人聯合信用卡處理中心、台
                        灣票據交換所、財金資訊股份有限公司、信用保證機構、信用卡國際組織、收單機構暨特約商店、與本
                        行合作推廣業務之公司等）。
                        4、依法有權機關或金融監理機關。
                        5、臺端所同意之對象（例如本行共同行銷或交互運用 臺端交易資料之公司等）。
                        （四）個人資料利用之方式：符合個人資料保護相關法令以自動化機器或其他非自動化之利用方式。<br><br>
                        四、依據個資法第三條規定，臺端就本行保有 臺端之個人資料得行使下列權利：
                        （一）除有個資法第十條所規定之例外情形外，得向本行查詢、請求閱覽或請求製給複製本，惟本行依個資法第十四
                        條規定酌收必要成本費用。
                        （二）得向本行請求補充或更正，惟依個資法施行細則第十九條規定，臺端應適當釋明其原因及事實。
                        （三）本行如有違反個資法規定蒐集、處理或利用 臺端之個人資料，依個資法第十一條第四項規定，臺端得向本行
                        請求停止蒐集。
                        （四）依個資法第十一條第二項規定，個人資料正確性有爭議者，得向本行請求停止處理或利用 臺端之個人資料。惟
                        
                        依該項但書規定，本行因執行業務所必須並註明其爭議或經 臺端書面同意者，不在此限。
                        
                        （五）依個資法第十一條第三項規定，個人資料蒐集之特定目的消失或期限屆滿時，得向本行請求刪除、停止處理或
                        利用 臺端之個人資料。惟依該項但書規定，本行因執行業務所必須或經 臺端書面同意者，不在此限。<br><br>
                        五、臺端如欲行使上述個資法第三條規定之各項權利，本行提供之服務管道（如：電洽客服專線0800-033175、04-
                        22273131書面或親洽往來營業據點等）均能受理。另 臺端亦得隨時透過前開本行提供之服務管道要求停止利用相
                        關個人資料進行行銷。本行於接獲 臺端通知並確認臺端身分後立即受理，並於系統及作業合理期間內停止行銷。<br><br>
                        六、臺端不提供個人資料所致權益之影響：
                        臺端得自由選擇是否提供相關個人資料及類別，惟 臺端所拒絕提供之個人資料及類別，如果是辦理業務審核或作
                        業所需之資料，本行可能無法進行必要之業務審核或作業而無法提供 臺端相關服務或無法提供較佳之服務，敬請
                        見諒。
                       <br></p>
                     <!-- <p style="color:red; font-weight: bold;">對已簽訂信託契約之客戶，得就特定投資標的已當面洽談、電話或電子郵件連繫、寄發商品說明書之方式進行推介。但不包含年齡為七十歲以上、教育程度為國中畢業以下或有全民健康保險重大傷病證明之非專業投資人。</p>   -->
                        <p style="color:red;font-weight: bold"><br><br>我已暸解並同意上述之內容</p>
                   
    
                    </div>
                    <!--main_content end-->
    
                    <div class="row" style="margin-top:50px;">
                        <!-- <p style="font-size: 10px;margin-left:30px;font-weight: bold;">我以了解並同意上述內容。</p> -->
                        <div class="content_bt">
                            <button type="button" class="confirm_bt" ng-click="clickSubmit()">同意</button>
                            <button type="button" class="cancel_bt" ng-click="clickBack()">不同意</button>							
                        </div>
                </div>
                </div>
                <!--row end-->
    
            </section>
            <!--main_sec end-->
        </div>
        <!--section 扣款帳號設定頁面 end-->
    
    
        <!--end of footer-->
    
    
    </div>
    <!--wrapper end-->
    
    