<div class="wrapper">
        <!--header-->
        <div class="row">
            <header class="main_nav">
                <div class="back_bt" ng-click="clickBack()">
                    <p class="back_title">返回</p>
                </div>
                <div class="page_title">認識客戶作業(KYC)暨風險承受度測驗</div>
                <div class="bank_logo">
                    <img class="logo" src="ui/tcbbOldStyle/image/cobanklogo.png">
                </div>
            </header>
        </div>
        <!--row-->
        <!--header end-->
    
        <!--section 扣款帳號設定頁面-->
        <div class="row">
            <section class="main_sec">
                <div class="row">
                    <div class="main_content" >
                        
                    <p style="font-size: 18px; font-weight: bold;color:black;">親愛的客戶!<br>
                        您為首次辦理認識客戶作業(KYC)或風險承受度測驗，為了您交易上的安全，本交易需要辦理安控驗證
                        <br></p>
                    
                        <security-selector-directive></security-selector-directive>
                   
    
                    </div>

                    
                    <!--main_content end-->
    
                    <div class="row" style="margin-top:100px;">
                        <!-- <p style="font-size: 10px;margin-left:30px;font-weight: bold;">我以了解並同意上述內容。</p> -->
                        <div class="content_bt">
                            
                            <button type="button" class="cancel_bt" ng-click="clickBack()">取消</button>	
                            <button type="button" class="confirm_bt" ng-click="clickSubmit()">確定</button>						
                        </div>
                    </div>
                </div>
                <!--row end-->
    
            </section>
            <!--main_sec end-->
        </div>
        <!--section 扣款帳號設定頁面 end-->
    
    
        <!--end of footer-->
    
    
    </div>
    <!--wrapper end-->
    
    