<section>
    <!--父層 Start-->
    <ng-container *ngIf="!goNextPage">
        <div class="sub_info_frame">
            <ul class="step_bar_frame">
                <li class="step_bar step_active"><span>1.繳費資料查詢</span></li>
                <li class="step_bar"></li>
                <li class="step_bar"></li>
                <li class="step_bar"></li>
                <li class="step_bar"></li>
                <li class="step_bar"></li>
                <li class="step_bar"></li>
            </ul>
        </div>
        <div class="row_single"></div>

        <!--醫療顯示 Start-->
        <ng-container *ngIf="showHospital">
            <div class="row_single">
                <!-- <ul class="inner_table_frame" style="height:47px" [ngClass]="{ 'active_warnning':(checkPersonId) }"> -->
                    <ul class="inner_table_frame" style="height:47px">
                    <li class="inner_table_cell">
                        身分證字號
                    </li>
                    <li class="inner_table_cell">
                        <input type="text" maxlength="12" autocorrect="off" autocomplete="off" class="inner_input"
                            [(ngModel)]="inp_data.personId" onkeyup="this.value=this.value.replace(/[^\w_]/g,'');">
                    </li>
                </ul>
                <!-- <i class="input_info_warnning">{{personId_errorMsg | translate}}</i> -->
            </div>
            <div class="row_single">
                <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(checkBirthday) }">
                    <li class="inner_table_cell">
                        出生年月日
                    </li>
                    <li class="inner_table_cell">
                        <!-- <input type="date" autocorrect="off" autocomplete="off" class="inner_input_data" [(ngModel)]="inp_data.birthday"> -->
                        <input-date [min]="min_date" [max]="max_date" [(ngModel)]="inp_data.birthday"></input-date>
                    </li>
                </ul>
                <i class="input_info_warnning">{{birthday_errorMsg | translate}}</i>
            </div>

            <div class="row_single">
                <div class="double_button">
                    <a href="javascript:void(0)" (click)="onCancel()">{{ 'BTN.CANCEL' | translate }}</a>
                    <a href="javascript:void(0)" (click)="actionHospital()">{{'BTN.NEXT' | translate}}</a>
                </div>
            </div>

            <!--分院選單提醒您 START-->

            <ng-container *ngIf="info_data.note3">
                <div class="row_single">
                    <h4 class="simple_title">{{ 'FIELD.INFO_TITLE' | translate }}</h4>
                </div>
                <div class="row_single">
                    <p class="inner_content font_red">
                        {{info_data.note3}}
                    </p>
                </div>
            </ng-container>

            <!--分院選單提醒您 END-->
        </ng-container>
        <!--醫療顯示 End-->

        <!--產壽顯示 Start-->
        <ng-container *ngIf="showInsurance">
            <div class="row_single" *ngIf="reqData.hospitalId != 'WWU'">
                <ul class="inner_table_frame" style="height:47px" >
                    <li class="inner_table_cell">
                        身分證字號
                    </li>
                    <li class="inner_table_cell">
                        <input type="text" class="inner_input" minlength="10" maxlength="12" autocorrect="off" autocomplete="off"
                            [(ngModel)]="inp_data.custId" onkeyup="this.value=this.value.replace(/[^\w_]/g,'');">
                    </li>
                </ul>
                <input pattern=".{3,}"   required title="3 characters minimum">
            </div>
            <div class="row_single" *ngIf="reqData.hospitalId == 'WWU'">
                    <ul class="inner_table_frame" style="height:47px" [ngClass]="{ 'active_warnning':(checkPersonId) }">
                        <li class="inner_table_cell">
                            身分證字號
                        </li>
                        <li class="inner_table_cell">
                            <input type="text" class="inner_input" maxlength="10" autocorrect="off" autocomplete="off"
                                [(ngModel)]="inp_data.custId">
                        </li>
                    </ul>
                    <i class="input_info_warnning">{{personId_errorMsg | translate}}</i>
                </div>
            <div class="row_single">
                <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(checkLicense) }">
                    <li class="inner_table_cell">車牌號碼</li>
                    <li class="inner_table_cell">
                        <input class="inner_input" type="text" maxlength="10" autocorrect="off" autocomplete="off"
                            [(ngModel)]="inp_data.licenseNo">
                    </li>
                </ul>
                <i class="select_info">輸入範例：7777-VF，英文字母需為大寫</i>
                <i class="input_info_warnning">{{license_errorMsg | translate}}</i>
            </div>

            <div class="row_single">
                <div class="double_button">
                    <a href="javascript:void(0)" (click)="onCancel()">{{ 'BTN.CANCEL' | translate }}</a>
                    <a href="javascript:void(0)" (click)="actionInsurance()">{{'BTN.NEXT' | translate}}</a>
                </div>
            </div>
            <!--分院選單提醒您 START-->

            <ng-container *ngIf="info_data.note3">
                <div class="row_single">
                    <h4 class="simple_title">{{ 'FIELD.INFO_TITLE' | translate }}</h4>
                </div>
                <div class="row_single">
                    <p class="inner_content font_red">
                        {{info_data.note3}}
                    </p>
                </div>
            </ng-container>
            <!--分院選單提醒您 END-->
        </ng-container>
        <!--產壽顯示 End-->

        <!--旺旺顯示 Start-->
        <ng-container *ngIf="WwuShow">
            <div class="row_single">
                <ul class="inner_table_frame" style="height:47px" [ngClass]="{ 'active_warnning':(checkPersonId) }">
                    <li class="inner_table_cell">
                        身分證字號/<br>統編
                    </li>
                    <li class="inner_table_cell">
                        <input type="text" class="inner_input" maxlength="10" autocorrect="off" autocomplete="off"
                            [(ngModel)]="inp_data.custId">
                    </li>
                </ul>
                <i class="input_info_warnning">{{personId_errorMsg | translate}}</i>
            </div>
            <div class="row_single">
                <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(checkLicense) }">
                    <li class="inner_table_cell">車牌號碼</li>
                    <li class="inner_table_cell">
                        <input class="inner_input" type="text" maxlength="10" autocorrect="off" autocomplete="off"
                            [(ngModel)]="inp_data.licenseNo">
                    </li>
                </ul>
                <i class="select_info">輸入範例：7777-VF，英文字母需為大寫</i>
                <i class="input_info_warnning">{{license_errorMsg | translate}}</i>
            </div>

            <div class="row_single">
                <div class="double_button">
                    <a href="javascript:void(0)" (click)="onCancel()">{{ 'BTN.CANCEL' | translate }}</a>
                    <a href="javascript:void(0)" (click)="actionInsurance()">{{'BTN.NEXT' | translate}}</a>
                </div>
            </div>
            <!--分院選單提醒您 START-->

            <ng-container *ngIf="info_data.note3">
                <div class="row_single">
                    <h4 class="simple_title">{{ 'FIELD.INFO_TITLE' | translate }}</h4>
                </div>
                <div class="row_single">
                    <p class="inner_content font_red">
                        {{info_data.note3}}
                    </p>
                </div>
            </ng-container>
            <!--分院選單提醒您 END-->
        </ng-container>
        <!--旺旺顯示 End-->
    </ng-container>
    <!--父層 End-->


    <!--子層(checkbox選單) Start-->
    <ng-container *ngIf="goNextPage">
        <app-bill-list [inputData]="billData" [disableATMObj]="disableATMObj" (errorPageEmit)="onErrorBackEvent($event)"></app-bill-list>
    </ng-container>
    <!--子層(checkbox選單) End-->
</section>