<link rel="stylesheet" type="text/css" href="css/index.css">

<div align="center">
    <h1>API 範例</h1>
    <p ><input type="button" value="打開相機" ng-click="openCamera();"></p>
    <p ><input type="button" value="選擇圖片" ng-click="selectPicFile();"></p>
    <p ><input type="button"  value="openQRCode" ng-click="openQRCode();"></p>
    <p ><input type="text"  ng-model="qrcode" value="" ><input type="button" value="openQRCodeGenerator"  ng-click="openQRCodeGenerator();"></p>
    <p ><input type="button"  value="openTel" ng-click="openTel();"></p>
    <p ><input type="button"  value="openSms" ng-click="openSms();"></p>
    <p ><input type="button"  value="openRingtone" ng-click="openRingtone();"></p>
    <p ><input type="button"  value="openMail" ng-click="openMail();"></p>
    <p ><input type="button"  value="callto" ng-click="callto();"></p>
    <p ><input type="button"  value="exit" ng-click="exit();"></p>
    <p ><input type="button"  value="login" ng-click="login();"></p>
    <p ><img src="" id="imgFile" width="100" height="100"></p>
</div>


