<section class="accountSum_main_pg">
  <div class="sub_info_subtitle">
    <!-- 查詢時間 -->
    查詢時間：<span id="currentTime2">{{currentTime  | htDate}}</span>
  </div>
  <div class="row_single"></div>
  <div class="row_single" *ngFor="let obj of objs">
    <div class="accountCard_frame">
      <div class="accountCard_td">
        <ul class="accountCard_inner_table">
          <li class="accountCard_inner_row">
            <span class="accountCard_inner_td_new accountCard_inner_td_l_new accountCard_name_new">
              {{obj.acctNo | acctTypeName: 'GD'}}
            </span>
            <span class="accountCard_inner_td_new accountCard_inner_td_r_new">
              {{obj.acctNo  | accountFormate}}
            </span>
          </li>
          <li class="accountCard_inner_row">
            <span class="accountCard_inner_td_new accountCard_inner_td_l_new ">
              結存公克數<br>(NTD/USD)
            </span>
            <span class="accountCard_inner_td_new accountCard_inner_td_r_new accountCard_money_new">
              {{obj.usefulBalance}}
            </span>
          </li>
        </ul>
      </div>
      <div class="accountCard_td accountCard_td_arrow">
        <a class="arrow_link" (click)="goList(obj)"></a>
      </div>
    </div>
  </div>
</section>
