<section class="background1_a11y small_top_padding_a11y">
  <a (click)="gowithoutlogin('a11yforeignexchangekey')">
    <button class="feature_btn_foreignexchangerate_a11y">
      <p class="font_feature_a11y">外幣匯率</p>
    </button>
  </a>
  <a (click)="gowithoutlogin('a11ytaiwndepositskey')">
    <button class="feature_btn_taiwandepositsrate_a11y">
      <p class="font_feature_a11y">台幣存款利率</p>
    </button>
  </a>
  <a (click)="gowithoutlogin('a11ytaiwnloankey')">
    <button class="feature_btn_taiwanloanrate_a11y">
      <p class="font_feature_a11y">台幣放款利率</p>
    </button>
  </a>
  <a (click)="gowithoutlogin('a11yforeigndepositskey')">
    <button class="feature_btn_foreigndepositsrate_a11y">
      <p class="font_feature_a11y">外幣存款利率</p>
    </button>
  </a>
  <a (click)="gowithoutlogin('a11yforeignloankey')">
    <button class="feature_btn_foreignloanrate_a11y">
      <p class="font_feature_a11y">外幣放款利率</p>
    </button>
  </a>
</section>