<section>
	<ng-container *ngIf="'result' != showPage">
		<div class="sub_info_frame">
			<ul class="step_bar_frame">
				<li class="step_bar" [ngClass]="{'step_active':'original'== showPage}">
					<span *ngIf="'original'== showPage">1.填寫資料</span>
				</li>
				<li class="step_bar" [ngClass]="{'step_active':'confirm'== showPage}">
					<span *ngIf="'confirm'== showPage">2.確認</span>
				</li>
				<li class="step_bar"></li>
			</ul>
		</div>
	</ng-container>
	<ng-container *ngIf="'original' == showPage">
		<div class="row_single">
			<h4 class="simple_title">{{'PG_TAX.TITLE.WATER' | translate}}</h4>
		</div>
		<div class="row_single">
			<ul class="inner_table_frame" [ngClass]="errorMsg['account']?'active_warnning':''">
				<li class="inner_table_cell">
					扣款帳號:
				</li>
				<li class="inner_table_cell">
					<ng-container *ngIf="defaultAcctNoFlag;else otherShow">
						<select class="inner_select" (change)="onChangeType()" [(ngModel)]="allWaterData['account']">
							<option value="" selected disabled>請選擇扣款帳號</option>
							<option *ngFor="let item of acctNo">{{item.acctNo | accountFormate }}</option>
						</select>
					</ng-container>
					<ng-template #otherShow>
						<select class="inner_select">
							<option>{{allWaterData['account'] | accountFormate }}</option>
						</select>
					</ng-template>
				</li>
			</ul>
			<i class="input_info_warnning">{{errorMsg['account'] | translate}}</i>
		</div>

		<div class="row_single">
			<ul class="inner_table_frame" [ngClass]="errorMsg['dueDate']?'active_warnning':''">
				<li class="inner_table_cell">
					代收期限:
				</li>
				<li class="inner_table_cell">
					<input type="tel" minlength="7" maxlength="7" class="inner_input"
						[(ngModel)]="allWaterData['dueDate']">
				</li>
			</ul>
			<i class="input_info_warnning">{{errorMsg['dueDate'] | translate}}</i>
		</div>

		<div class="row_single">
			<ul class="inner_table_frame" [ngClass]="errorMsg['bussNO']?'active_warnning':''">
				<li class="inner_table_cell">
					銷帳編號:
				</li>
				<li class="inner_table_cell">
					<input type="tel" minlength="14" maxlength="14" class="inner_input" placeholder="請輸入銷帳編號"
						[(ngModel)]="allWaterData['bussNO']">
				</li>
			</ul>
			<i class="input_info_warnning">{{errorMsg['bussNO'] | translate}}</i>
		</div>

		<div class="row_single">
			<ul class="inner_table_frame" [ngClass]="errorMsg['payAmount']?'active_warnning':''">
				<li class="inner_table_cell">
					應繳總金額:
				</li>
				<li class="inner_table_cell">
					<input type="tel" maxlength="9" class="inner_input" placeholder="請輸入應繳總金額"
						[(ngModel)]="allWaterData['payAmount']">
				</li>
			</ul>
			<i class="input_info_warnning">{{errorMsg['payAmount'] | translate}}</i>
		</div>

		<div class="row_single">
			<ul class="inner_table_frame" [ngClass]="errorMsg['chkcode']?'active_warnning':''">
				<li class="inner_table_cell">
					查核碼:
				</li>
				<li class="inner_table_cell">
					<input type="tel" maxlength="1" class="inner_input" placeholder="請輸入查核碼"
						[(ngModel)]="allWaterData['chkcode']">
				</li>
			</ul>
			<i class="input_info_warnning">{{errorMsg['chkcode'] | translate}}</i>
			<div class="row_inner">
				<a class="inner_button float_right_bt" (click)="billExample()">
					<span>帳單範例說明</span>
				</a>
			</div>
		</div>
		<!-- 安控機制start  -->
		<app-select-security (securityObj)="securityOptionBak($event)" [transactionObj]="transactionObj">
		</app-select-security>
		<!-- 安控機制end  -->
		<div class="row_single">
			<div class="double_button">
				<a href="javascript:void(0)" (click)="cancelEdit()">{{'BTN.CANCEL' | translate }}</a>
				<a href="javascript:void(0)" (click)="goConfirm()">{{'BTN.NEXT' | translate }}</a>
			</div>
		</div>

		<div class="row_single">
			<h4 class="simple_title">提醒您：</h4>
		</div>
		<div class="row_single">
			<p class="inner_content">
				一.僅限繳納台灣自來水公司水費<br>
				二.如需繳費收據時，可於繳費日3個營業日後電洽台水當地服務、營運所申辦繳費證明(或至台水網站www.water.gov.tw查詢繳費紀錄)。
			</p>
		</div>
	</ng-container>

	<!-- 確認頁-->
	<ng-container *ngIf="'confirm' == showPage">
		<app-water-confirm-page (backToEdit)="toEditPage($event)" (backPageEmit)="finalCheckData($event)"
			[waterConfirm]="allWaterData"></app-water-confirm-page>
	</ng-container>

	<!-- 結果頁-->
	<ng-container *ngIf="'result' == showPage">
		<app-water-result-page [waterResult]="waterResultData"></app-water-result-page>
	</ng-container>

</section>