<section id="bankChoose">

	<div class="row content textC">
		<div class="floatL" style="width:50%;">我的信用卡</div>
		<div class="floatL" style="width:25%;">解除/綁定</div>
		<div class="floatL" style="width:25%;">預設</div>


		<div class="floatL matlast" style="width:100% ;" *ngFor="let card of cards; let recordIndex = index;">
			<div class="floatL" style="width:50%; letter-spacing: 1px;">{{card.cardNo|emvCardMask}}</div>
			<div class="floatL" style="width:25%;">
				<div class="switch_opne_close" style="left: 15px;">
					<input type="checkbox" name="toggle{{recordIndex}}" (click)="cardCvcShow(card)" [checked]="card.checked"
						[(ngModel)]="card.checked">
					<label for="toggle{{recordIndex}}">
						<i></i>
					</label>
				</div>
			</div>
			<div class="floatL" style="width:25%;">
				<div class="row_single">
					<!-- 項目START -->
					<div class="inner_radio">
						<input type="radio" name="hi" id="month{{recordIndex}}" (click)="selectcard(card)" [value]="card.cardNo"
							[(ngModel)]="defaultSelected" [disabled]="card.isBind=='N'">
						<label for="month{{recordIndex}}">
							<span>
								<i></i>
							</span>
						</label>
					</div>
					<!-- 項目End -->
				</div>
				<!-- <input type="checkbox" name="hi" value="1" ng-model="card.selected" (click)="selectcard(card)" ng-disabled="!card.checked"> -->
			</div>

			<div *ngIf="card.inputValue" class="floatL cardCvc" style="margin-top: 10px;width:100% ;padding: 10px 0px;background-color: rgba(100,100,100,.1);box-shadow: 0px 1px 1px -1px #999;">
				<div class="row_single">
					<h4 class="simple_title">新增綁定</h4>
				</div>
				<div class="row_single">
					<ul class="inner_table_frame">
						<li class="inner_table_cell">*卡片有效月年：</li>
						<li class="inner_table_cell">
							<input #cardExpiredDate value="" class="inner_input last_three" size="15" maxlength="7" type="tel" name=""
								placeholder="格式：MMYY">
						</li>
					</ul>
				</div>
				<div class="row_single">
					<ul class="inner_table_frame">
						<li class="inner_table_cell">*卡片背面末三碼：</li>
						<li class="inner_table_cell">
							<input #cardCheckId value="" class="inner_input last_three" size="15" maxlength="3" type="tel" name="">
						</li>
					</ul>
				</div>

				<div class="row_single">
					<ul class="inner_table_frame">
						<li class="inner_table_cell">
							目前轉帳機制：
						</li>
						<li class="inner_table_cell">
							<select class="inner_select" (change)="onChangeSecurity(selectSecurityType)" [(ngModel)]="selectSecurityType">
								<option *ngFor="let item of securityTypes" [ngValue]="item">{{item.name}}</option>
							</select>
						</li>
					</ul>
				</div>
				<!-- <div style="width: 85%;text-align: left;margin: auto;"><span class="textcard">卡片有效月年：</span><input class="content_input effective_year" type="text" size="15" maxlength="7" style="padding-left:5px;" placeholder="格式：MMYY" (click)="clickInput()"></div>  -->
				<!-- <div style="width: 85%;text-align: left;margin: auto;"><span class="textcard" style="margin-top:10px;">卡片背面末三碼：</span><input class="content_input last_three" type="text" size="12" maxlength="3" style="padding-left:5px;" (click)="clickInput()"></div>  -->

				<!-- <div style="display:flex;flex-direction: row;justify-content: flex-start;align-items: center;width: 85%;margin: auto;padding-top:5px;">
					<span style="display: inline-block;text-align: left;padding: 0 10px 0px 0px;">目前您的轉帳機制</span>：
					<div class="input_warning2" style="width: 60px;"><input type="text"  class="content_input" ng-model="defaultSecurityType.name" readonly></div>
					<div class="content_text_chang" (click)="clickChangeSceurityType(true)" ng-if="anotherSecurityType">
						<p style="width: 30px;">變更</p>
					</div>
					<div class="content_sign" ng-if="anotherSecurityType"><i class="fa fa-chevron-right " aria-hidden="true"></i></div>
				</div> -->
				<div class="row_single">
					<div class="double_button">
						<a (click)="clickCancel(card)">{{ 'BTN.CANCEL' | translate }}</a>
						<a (click)="clickSubmit(card,cardExpiredDate.value,cardCheckId.value)">{{ 'BTN.CHECK' | translate }}</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

