<section>
	<div class="row_single">
		<h4 class="simple_title">查詢驗證碼</h4>
	</div>
	<div class="row_single mobile">
		<ul class="inner_table_frame">
			<li class="inner_table_cell">
				手機號碼
			</li>
			<li class="inner_table_cell">
				<input type="tel" class="inner_input" maxlength="10" [(ngModel)]="phoneNo"
					placeholder="請輸入手機號碼" required>
			</li>
		</ul>
	</div>
	<div class="row_single mobile">
		<ul class="inner_table_frame">
			<li class="inner_table_cell">
				Email
			</li>
			<li class="inner_table_cell">
				<input type="text" class="inner_input" [(ngModel)]="email" placeholder="請輸入Email信箱"
					required>
			</li>
		</ul>
	</div>
	<div class="row_single">
		<div class="double_button">
			<a (click)="clickClear()">{{ 'BTN.CLEAR' | translate }}</a>
			<a (click)="clickSubmit()">重發驗證碼</a>
		</div>
	</div>
</section>