<div class="row_single">
  <h4 class="simple_title">{{title|translate}}</h4>
</div>
<div class="row_single">
  <pre class="inner_content" [innerHTML]="content|translate:param">

  </pre>
</div>
<div class="row_single">
  <div class="double_button">
    <a (click)="no()">{{btnNoTitle|translate}}</a>
    <a (click)="yes()">{{btnYesTitle|translate}}</a>
  </div>
</div>
<div class="row_single">
  <h4 class="simple_title">{{titleSecond|translate}}</h4>
</div>
<div class="row_single">
  <pre class="inner_content">
    {{contentSecond|translate:paramSecond}}
  </pre>
</div>
