<div id="nav_cover"></div>
<div class="menu" style="z-index:90000000;">
        <div class="btn trigger plus_btn" style="text-align:right ; line-height:100px;">
                <!-- <span class="line"></span> -->
                <img id="cross" src="assets/images/nav_plus.jpg" width="95%">
        </div>
        <div class="icons">
                <div class="rotater">
                        <div class="btn btn-icon">
                                <img src="assets/images/plus03.png" width="95%" onclick="healthLink()">
                                <p class="plus_font">醫療服務</p>
                        </div>
                </div>
                <div class="rotater">
                        <div class="btn btn-icon">
                                <img src="assets/images/plus01.png" width="95%" onclick="bankLink()">
                                <p class="plus_font">信用卡</p>
                        </div>
                </div>
                <div class="rotater">
                        <div class="btn btn-icon">
                                <img src="assets/images/plus02.png" width="95%" onclick="insuranceLink()">
                                <p class="plus_font">金融資訊</p>
                        </div>
                </div>
                <div class="rotater">
                        <div class="btn btn-icon">
                                <img src="assets/images/plus04.png" width="95%" onclick="EpayLink()">
                                <p class="plus_font">合庫E Pay</p>
                        </div>
                </div>
        </div>

</div>