<ng-container *ngFor="let caseItem of branchData">
    <ul class="credit_card_bill_detail_list loan">

        <li>
            <p class="credit_card_name">
                <i>({{caseItem.outBrch1}})</i>
                <i>{{caseItem.outBrchname1}}</i>
            </p>

            <p>
                <span>放款帳號：</span>
                <span>{{caseItem.outLaran | accountFormate}}</span>
            </p>
            <p>
                <span>額度：</span>
                <span>{{caseItem.outLarpm| htMoney:'TWD'}}</span>
            </p>
            <p>
                <span>現欠餘額：</span>
                <span>{{caseItem.outLaral | htMoney:'TWD'}}</span>
            </p>
            <p>
                <span>可增貸金額：</span>
                <span>{{caseItem.increaseAmount | htMoney:'TWD'}}</span>
            </p>

            <p>
                <span>當下利率：</span>
                <span>{{caseItem.outRate}}%</span>
            </p>
            <a href="javascript:void(0)" class="" (click)="onApply(caseItem)">{{'BTN.LOAN.SELECT_BRANCH' | translate}}</a>
        </li>
    </ul>
</ng-container>