<!-- section -->
<section>
  <ul class="tab_table">
    <li class="tab_three_cell">
      <a (click)="go('edit_mainBlock')" class="tab_button">首頁區塊編輯</a>
    </li>
    <!-- <li class="tab_three_cell">
      <a (click)="go('edit_hotKey')" class="tab_button">我的快捷編輯</a>
    </li> -->
    <li class="tab_three_cell">
      <a class="tab_button active">快捷選單編輯</a>
    </li>
  </ul>
  <div class="row_single">
    <h4 class="simple_title sliderEdit">上下拖曳以更動卡片順序</h4>

    <a appLink="edit_slider_list" class="inner_button float_right_bt">
      <span>編輯</span>
    </a>
  </div>

  <div class="row_single">
    <a (click)="saveSlider(menuSlider)" class="button_confirm" id="button_confirm">儲存設定</a>
  </div>
  <!-- <div style="background:#aaaaee; z-index:5;"> -->
  <div class="row_single" [sortablejs]="menuSlider" [sortablejsOptions]="normalOptions">
    <!-- <img src="edit1.png" width="100%"> -->
    <div class="quicklink_margin ui-state-default" *ngFor="let item of menuSlider">
      <div style="position:relative">
        <div class="quicklink_info ">
          <div style="right: 0px;top: 0px; width: 60px;height: 48px;" class="drag_img">
            <img src="assets/images/icons/icon_drag.png" style="padding-left: 21px;
            padding-top: 19px;" />
          </div>
          <div>{{ item.name | translate }}</div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <div class="row_single">
    <a (click)="saveSlider(menuSlider)" class="button_confirm" id="button_confirm">儲存設定</a>
  </div>
</section>
<!-- section End -->
