<div class="wrapper">
        <div class="row">
            <header class="main_nav">
                <div class="page_title">跨境電子支付交易-身分認證程序</div>
                <div class="bank_logo">
                    <img class="logo" src="ui/tcbbOldStyle/image/cobanklogo.png">
                </div>
            </header>
        </div>
        
        <div class="row">
            <section class="main_sec">
                <div class="row">
                    <div class="main_content">
                    <p style="font-size: 22px; font-weight: bold;text-align:center;margin-bottom:5px">同意條款</p>
                    <p style="font-size: 18px; font-weight: bold;">茲因辦理跨境電子支付交易之需要，本人同意貴行向財團法人金融聯合徵信中心查詢本人之“電子支付帳戶使用者通報案件及加強身分確認註記資料(電腦代號P33)"。<br></p> 
                    </div>
                   
                    <div class="row" style="margin-top:100px;">
                        <p style="font-size: 10px;margin-left:30px;font-weight: bold;">我已了解並同意上述內容。</p>
                        <div class="content_bt">
                            <button type="button" class="confirm_bt" ng-click="clickSubmit()">同意</button>
                            <button type="button" class="cancel_bt" ng-click="clickBack()">不同意</button>							
                        </div>
                </div>
                </div>    
            </section>
        </div>
    
    
    </div>
    
    