<section>
    <div class="sub_info_frame">
        <ul class="inner_table_frame">
            <li class="inner_table_cell">
                <select name="mySet" id="mySet" class="inner_select" >
                    <option value="0" >我的投資組合一</option>
                    <option value="1" >我的投資組合二</option>
                    <option value="2" >我的投資組合三</option>
                </select>
            </li>
        </ul>
    </div>
    <ul class="sub_tab_table sub_tab_four" id="timeInterval">
        <li class="sub_td_cell">
            <a id="oneWeek" class="active">前日漲跌幅</a>
        </li>
        
        <li class="sub_td_cell">
            <a id="oneMonth">一個月績效</a>
        </li>
        <li class="sub_td_cell">
            <a id="threeMonth">六個月績效</a>
        </li>
        <li class="sub_td_cell">
            <a id="customize">一年績效</a>
        </li>
    </ul>
    <div class="sub_info_subtitle font_align_left" id="showTime">
        查詢時間：
        <span class="currentTime2"></span>
    </div>
    <ul class="table_data_frame" id="transctionRecord2">
        <li class="table_data">
            <span class="data_cell" style="/*min-width: 100px;*/" style="font-family:'微軟正黑體';">代碼</span>
            <i class="data_cell" style="font-family:'微軟正黑體';">基金名稱</i>
            <b class="data_cell" style="font-family:'微軟正黑體';">一個月漲跌幅(%)</b>
            <s class="data_cell"></s>
        </li>
        <li class="table_data">
            <span class="data_cell">5202</span>
            <i class="data_cell">貝萊德寶利基金</i>
            <b class="data_cell font_red">+6.2187</b>
            <s class="data_cell">
                <button class="sub_open"></button>
            </s>
        </li>
        <div class="sub_open_info_frame">
            <dl class="sub_open_info">
                <dt class="sub_open_row">
                    <span></span>
                    <span>標的型態</span>
                    <span>股票型</span>
                    <span></span>
                </dt>
                <dt class="sub_open_row">
                    <span></span>
                    <span>計價幣別</span>
                    <span>新台幣</span>
                    <span></span>
                </dt>
                <dt class="sub_open_row">
                    <span></span>
                    <span>淨值日期</span>
                    <span>2019/03/04</span>
                    <span></span>
                </dt>
                <dt class="sub_open_row">
                    <span></span>
                    <span>參考淨值</span>
                    <span>255.7100</span>
                    <span></span>
                </dt>
                <dt class="sub_open_row">
                    <span></span>
                    <span>前日漲跌幅(%)</span>
                    <span class="font_red">+0.0786</span>
                    <span></span>
                </dt>
                <dt class="sub_open_row">
                    <span></span>
                    <span>一個月漲跌幅(%)</span>
                    <span class="font_red">+6.2187</span>
                    <span></span>
                </dt>
                <dt class="sub_open_row">
                    <span></span>
                    <span>六個月漲跌幅(%)</span>
                    <span class="font_deep_gre">-5.1081</span>
                    <span></span>
                </dt>
                <dt class="sub_open_row">
                    <span></span>
                    <span>一年漲跌幅(%)</span>
                    <span class="font_red">+4.8188</span>
                    <span></span>
                </dt>
                <dt class="sub_open_row">
                    <span></span>
                    <span></span>
                    <span>
                        <a href="javascript:void(0);" class="inner_button">
                            <span>我要申購</span>
                        </a>
                    </span>
                    <span></span>
                </dt>
                
            </dl>
        </div>
    </ul>
    
</section>
