<!-- Page Start-->
<a href="javascript:void(0)" class="inner_news_list" *ngFor="let item of data;" (click)="onContentEvent(item)">
    <span class="inner_news_list_td mord_word">
        <i class="inner_news_title">{{ item | fieldCheck: 'newsSubject'}}</i>
        <b class="inner_news_info " *ngIf="showNewsInfo">{{ (item | fieldCheck: 'newsBody') }}</b>
    </span>
    <span class="inner_news_list_td">
        <i class="inner_news_data">
            <s>{{ ((item | fieldCheck: 'applyDateTime') | htDate: 'yyyy')}}</s>
            <s>{{ ((item | fieldCheck: 'applyDateTime') | htDate: 'MM/dd')}}</s>
        </i>
    </span>
</a>
<!-- Page End-->
