<section>
		<!-- 標題與內文資訊範例 -->
		<div class="row_single">
			<h4 class="simple_title">風險承擔/信託報酬預告/其他注意事項</h4>
		</div>
		<div class="row_single">
			<p class="inner_content">
				一、委託人以信託資金交付受託人為投資標的指示運用前，已確實詳閱投資標的相關資料及規定，並瞭解其投資風險，包括可能發生標的價、匯兌損失所導致之本金虧損，投資標的暫停賣出或贖回、合併及解散清算等風險，並基於委託人獨立審慎之投資。
				<br> 二、請行庫提供相關資訊。
				<br> 三、本存戶使用與帳戶有關之語音服務項目時，應輸入帳號及自行設定之識別碼經貴行電腦自動檢核相符後始得辦理，如存戶輸入識別碼連續錯誤達三次時，貴行有權暫時停止本存戶使用語音服務。
				<br> 四、本存戶輸入識別碼連續錯誤達三次或遺忘識別碼時，應親持身分證件暨原留印鑑，得向貴行任一營業單位辨理重設識別碼手續，始得恢復使用語音服務，至於原指定之傳真機號碼及約定帳號如有異動時，亦得向貴行任一營業單位辦理變更。
				<br>
				五、本存戶申請語音轉帳服務，限於本存戶本身帳戶及事先與貴行約定之第三人帳戶間之移轉，且以主管機關核准貴行辦理之項目為限。本存戶以語音轉帳轉入第三人帳戶及跨行本存戶帳戶，除另有約定外，其金額每日累計不得超過新臺幣貳佰萬元，該金額限制貴行得視需要隨時調整之。
				<br> 六、貴行憑本存戶識別碼指示辦理之語音服務，均視為存戶本人親自辦理。本存戶所指示辦理之語音服務如依貴行規定尚需補填書面申請資料時，本存戶同意應儘速至貴行補辦有關手續。
				<br> 七、本存戶使用語音服務之聯行間語音轉帳服務免計收手續費，惟跨行轉帳每筆交易由貴行扣取手續費新台幣15元，貴行得逕自本存戶帳戶扣收，本存戶絕無異議，並同意貴行於費率調整時，逕以貴行網站上公告揭示，不需另行通知及簽署約定書。
			</p>
		</div>
		<!-- 標題與內文資訊範例 End -->

		<div class="row_single">
			<div class="double_button">
				<a href="javascript:void(0)" (click)="onAgreeNot()">不同意</a><a href="javascript:void(0)" (click)="onAgree()">同意</a>
			</div>
        </div>
	</section>
