<div>
    <div class="login_navigation">
        <img src="modules/login/image/header_logo_green.png" height="32px">
    </div>
    <div class="login_navigation2">
    </div>
   
    <div class="first_pic">
        <h2>指紋/臉部快速登入</h2>
        <img src="modules/biometric/first/image/id_login.png" >
    </div>
    <div class="first_text">
        <p>支援手機指紋/臉部辨識功能，輕鬆體驗安全、便捷，快速登入及交易一指完成！</p>
    </div>
    <div class="row" style="text-align: center;margin-top: 20px;">
        <span style="font-size:12px;text-align: center;color:red;">登入即表示了解並同意合作金庫銀行行動裝置<a target="_blank" href="https://www.tcb-bank.com.tw/others/Pages/privacy3.aspx">隱私權保護政策</a></span>
    </div>
    <div class="first_button">
        <button class="first_leftbtn" ng-click="goLogin()">設定</button>
        <button class="first_rightbtn" ng-click="goBack()">取消</button>
    </div>
</div>
