<div class="row_single">
  <h4 class="simple_title">{{title|translate}}</h4>
</div>
<div class="row_single">
  <pre class="inner_content">
    {{content|translate:param}}
  </pre>
</div>
<div class="row_single checkbox">
<div class="inner_checkbox">
    <input type="checkbox" id="inner_checkbox01" name="inner_checkbox" [(ngModel)]="checkStatus">
    <label for="inner_checkbox01">
      <span>
        <i></i>
      </span>
      <b>{{checkbox|translate}}</b>
    </label>
  </div>
</div>
<div class="row_single">
  <div class="double_button">
    <a (click)="no()">{{btnNoTitle|translate}}</a>
    <a (click)="yes()">{{btnYesTitle|translate}}</a>
  </div>
</div>