<div class="mfp-content">
  <div class="zoom-anim-dialog popup_message_frame">
    <ul class="popup_message_frame_main">
      <li class="popup_title">
        <h4 class="popup_title_word">{{"NOTE_JBROOT_TITLE"|translate}}&nbsp;</h4>
      </li>
      <li class="popup_content">
        <p class="small_word">
          {{"NOTE_JBROOT_CONTENT"|translate}}
        </p>

      </li>
      <li class="popup_footer">
        <div class="row_main align_ceter">
          <a href="" class="btn popup-modal-dismiss" ng-click="ok()"><i>確定</i></a>
        </div>
      </li>
    </ul>
    <!--<button title="Close (Esc)" type="button" class="mfp-close" ng-click="ok()">×</button>-->
  </div>
</div>