<section>
	<div class="row_single"></div>
	<div class="row_single">
		<h4 class='simple_title'>選擇安控機制</h4>
	</div>

	<!-- <ng-container *ngIf="security == 'choose'">
		<app-select-security (securityObj)="securityOptionBak($event)" [transactionObj]="transactionObj">
		</app-select-security>
	</ng-container>

	<ng-container *ngIf="security == 'showPage'">
		<app-check-security [securityObj]="securityObj" (stepObj)=stepBack($event)></app-check-security>
	</ng-container>

	<div class="row_single"></div>
	<div class="row_single">
		<ng-container *ngIf="security == 'choose'">
			<div class="double_button">
				<a href="javascript:void(0)" (click)="onCancel()">{{'BTN.CANCEL' | translate}}</a>
				<a href="javascript:void(0)" (click)="onContract()">{{'BTN.CHECK' | translate}}</a>
			</div>
		</ng-container>
		<ng-container *ngIf="security == ''">
			<div class="double_button">
				<a href="javascript:void(0)" (click)="onCancel()">{{'BTN.CANCEL' | translate}}</a>
				<a href="javascript:void(0)" (click)="onContract()">{{'BTN.CHECK' | translate}}</a>
			</div>
		</ng-container>

	</div> -->
</section>