<div class="agree_info">
    <div class="row_single">
        <h4 class='simple_title'>同意信託業務推介</h4>
    </div>
    <div class="row_single">
        <p class="inner_content">
            依信託業營運範圍受益權轉讓限制風險揭露及行銷訂約管理辦法第21條第三款作業規範：
            <br> 對已簽訂信託契約之客戶，得就特定投資標的以當面洽談、電話或電子郵件連繫、寄發商品說明書之方式進行推介。但不包含年齡為七十歲以上、教育程度為國中畢業以下或有全民健康保險重大傷病證明之非專業投資人。
        </p>
    </div>
    <div class="row_single">
        <div class="inner_checkbox abc">
            <input type="checkbox" id="inner_checkbox01" name="inner_checkbox" [ngModel]="agreeChecked" [checked]="agreeChecked==true" (click)="checkClick()">
            <label for="inner_checkbox01">
                <span>
                    <i></i>
                </span>
                <b>我已了解並同意上述內容</b>
            </label>
        </div>
    </div>
    <div class='row_single'>
        <div class='double_button'>
            <a href='javascript:void(0);' (click)="agreeSend(false)">不同意</a>
            <a href='javascript:void(0);' (click)="agreeSend(true)">瞭解並同意</a>
        </div>
    </div>
</div>