<!-- AppView/msg/FUND02.html -->
<div class="popup_window popup_open" id="info">
    <!-- 「popup_open」為開啟popup的樣式，將此樣式移除可關閉popup -->
    <div class="popup_content">
        <!-- 副標列 -->
        <div class="row_single">
            <h4 class="simple_title">(預約)單筆申購說明</h4>
        </div>
        <!-- 副標列 End -->
        <div class="row_single">
            <p class="inner_content">
                <!-- 1.網路銀行基金申購交易僅限新信託帳號（即帳號型態為XXXX-888/899-XXXXXX），如您目前為舊信託帳號（即帳號型態為XXXX-082/083/085-XXXXXX）者，請親洽原開戶單位辦理換約手續。
                <br> 2.國內外結構型債券、海外ETF基金、國內債券型基金、國內後收型基金、國外後收型基金(B股)，因商品特殊性，僅限臨櫃申購，如欲申購前項商品，請至分行辦理。
                <br> 3. -->
                (1)新臺幣信託基金投資： 國外基金每筆最低3萬元；國內基金每筆最低1萬元，以萬元為累增單位。
                <br> (2)外幣信託基金投資：
                <br>
            </p>

            <div class="table_chbox_frame">
                <div class="table_chbox_row">
                    <div class="table_chbox_th ">
                        幣別
                    </div>
                    <div class="table_chbox_th">每筆最低申請金額</div>
                    <div class="table_chbox_th" style="text-align:center">增加單位</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        <br>新台幣NTD
                    </div>
                    <div class="table_chbox_td" style="text-align:left">3,000元</div>
                    <div class="table_chbox_td" style="text-align:left">1,000元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        美金USD
                    </div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        澳幣AUD
                    </div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        加拿大幣CAD
                    </div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        瑞土法郎CHF
                    </div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        歐元EUR
                    </div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        英鎊GBP
                    </div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        港幣HKD
                    </div>
                    <div class="table_chbox_td" style="text-align:left">1,000元</div>
                    <div class="table_chbox_td" style="text-align:left">1,000元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        日圓JPY
                    </div>
                    <div class="table_chbox_td" style="text-align:left">10,000元</div>
                    <div class="table_chbox_td" style="text-align:left">10,000元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        瑞典克朗SEK
                    </div>
                    <div class="table_chbox_td" style="text-align:left">1,000元</div>
                    <div class="table_chbox_td" style="text-align:left">1,000元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        人民幣CNY
                    </div>
                    <div class="table_chbox_td" style="text-align:left">1,000元</div>
                    <div class="table_chbox_td" style="text-align:left">1,000元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        南非幣ZAR
                    </div>
                    <div class="table_chbox_td" style="text-align:left">1,000元</div>
                    <div class="table_chbox_td" style="text-align:left">1,000元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        紐西蘭幣NZD
                    </div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        新加坡幣SGD
                    </div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                    <div class="table_chbox_td" style="text-align:left">100元</div>
                </div>
            </div>

            <p class="inner_content">
                但本行、 基金公司或信託投資標的對申購最低金額，另有規定者，從其所定。
                <br> 4.網銀之外幣約定轉出帳號僅限於本行多幣別外匯活期或綜合存款帳戶(即帳號型態為XXXX-665-XXXXXX、XXX-188-XXXXXX)。
                <br> 5.當日單筆申購時間至每個營業日15：00，超過時間者將轉為預約申請。(※外幣信託預約交易時間為15：00至24：00)
                <br> 6.商品風險收益等級(RR1~RR5)說明：
                <br>
            </p>


            <div class="table_chbox_frame">
                <div class="table_chbox_row">
                    <div class="table_chbox_th ">
                        風險收益等級
                    </div>
                    <div class="table_chbox_th">投資風險</div>
                    <div class="table_chbox_th" style="text-align:center">投資目標</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        RR1
                    </div>
                    <div class="table_chbox_td">低</div>
                    <div class="table_chbox_td" style="text-align:left">以追求穩定收益為目標，通常投資於短期貨幣市場工具，如：短期票券、銀行定存，但並不保證本金不會虧損。</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        RR2
                    </div>
                    <div class="table_chbox_td">中</div>
                    <div class="table_chbox_td" style="text-align:left">以追求穩定收益為目標，通常投資於已開發國家政府公債、或國際專業評等機構評鑑為投資級（如標準普爾評等BBB級，穆迪評等Baa級以上）之已開發國家公司債券，但也有價格下跌之風險。
                    </div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        RR3
                    </div>
                    <div class="table_chbox_td">中高</div>
                    <div class="table_chbox_td" style="text-align:left">以追求兼顧資本利得及固定收益為目標，通常同時投資股票及債券、或投資於較高收益之有價證券，但也有價格下跌之風險。</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        RR4
                    </div>
                    <div class="table_chbox_td">高</div>
                    <div class="table_chbox_td" style="text-align:left">以追求資本利得為目標，通常投資於已開發國家股市、或價格波動相對較穩定之區域內多國股市，但可能有大幅價格下跌之風險。</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">
                        RR5
                    </div>
                    <div class="table_chbox_td">很高</div>
                    <div class="table_chbox_td" style="text-align:left">以追求最大資本利得為目標，通常投資於積極成長型類股或波動風險較大之股市，但可能有非常大之價格下跌風險。</div>
                </div>
            </div>

            <p class="inner_content">
                ※本項風險收益等級僅供參考，投資共同基金之盈虧尚受到國際金融情勢震盪和匯兌風險影響。投資人宜斟酌個人風險承擔能力及資金可運用期間之長短後投資。
            </p>
            <div class="row_single"></div>
            <div class="row_single">
                <a href="javascript:void(0)" class="button_confirm" (click)="onConfirm()">確定</a>
            </div>
        </div>
    </div>
</div>
