<div class="status_bar" ng-if="ios"></div>
<!--header-->
<div class="header_bar " ng-class="{ios_header_bar:ios}" >
    <header class="main_nav">
        <div class="back_bt" ng-click="clickBack()">
            <p class="back_title">返回</p>
        </div>
        <div class="page_title">小額支付免輸密碼設定</div>
        <div class="bank_logo"><img src="ui/tcbbOldStyle/image/cobanklogo.png"></div>
    </header>
</div>
<!--header end-->

<!--section -->
<div class="row content">
	<div class="main_content">
		<!-- <div class="agree_main">使用合庫行動網銀全國繳費專區全國性繳費(稅)業務以非約定帳戶繳費(稅)注意事項</div> -->
		<div class="agree_content">存戶同意啟用於合作金庫商業銀行所領用之金融卡具有晶片金融卡消費扣款功能，並可透過行動網銀掃描QR Code進行消費扣款、繳稅、繳費及轉帳交易。
			<br>一、晶片金融卡消費扣款功能說明
			<br>1.	憑晶片金融卡及密碼進行消費扣款交易，均視為本存戶所為，與憑存摺及填具取款憑條加蓋原留印鑑之提款具同等效力。</span>
			<br>2.	具晶片金融卡消費扣款之晶片金融卡可於國內、外貼有金融資訊系統跨行業務標章之實體或網路特約商店，透過晶片密碼驗證購買/取消商品或服務。本存戶進行上述交易時，應自行留存交易單據或電子訊息。（此功能於國外交易僅限於日本地區使用）
			<br>二、	申請及限制
			<br>1.	 存戶所領用之金融卡具有晶片金融卡消費扣款功能，欲使用此功能，應向貴行提出申請。
			<br>2.	存戶須年滿十五歲其所持有之金融卡始可具備國外交易功能。凡未滿十五歲之存戶，其所領用之卡片雖已申請晶片金融卡消費扣款，仍無法於國外執行消費扣款交易。
			<br>3.	持卡人於國內、外金融卡指定商店（貼有台灣金融卡、金融卡及SMART PAY標誌）進行消費扣款交易，經使用金融卡並輸入約定密碼後，視為同意啟用當次消費扣款服務功能以完成交易。
			<br>4.	持卡人透過行動網銀掃描QR Code進行消費扣款交易，依行動網銀安控機制完成交易。
			<br>三、	交易限額
			<br>1.	消費扣款:(1)每筆最高限額新臺幣10萬元，每日累計最高限額新臺幣10萬元（與ATM 存款及ATM、eATM非約定帳戶轉帳併計）。(2)行動網銀QR Code消費扣款每筆最高限額新臺幣5萬元，每日累計最高限額新臺幣10萬元（與ATM 存款及ATM、eATM非約定帳戶轉帳併計），每月累計最高限額新臺幣20萬元。
			<br>2.	繳費繳稅：每筆最高限額為新臺幣200萬元，每日累計最高限額為新臺幣200萬元(與個人網路銀行憑證轉帳之繳費稅併計)。
			<br>3.  轉帳:每筆最高限額為新臺幣5萬元，每日累計最高限額為新臺幣5萬元(與個人網路銀行憑證轉帳之非約定轉帳併計)。
			<br>四、	消費限額及外幣匯率授權結算 
			<br>1.	本存戶於國內、外使用晶片金融卡消費扣款總金額每日不得逾新臺幣壹拾萬元或等值外幣。
			<br>2.  本存戶進行跨國交易時，應自行控管不得超過中央銀行規定之外匯額度，並授權貴行為中華民國境內之結匯代理人，依據中央銀行有關規定辦理持卡交易之結匯手續。如本存戶已超出得使用之外匯額度時，應即依貴行之要求以外幣支付超額部分。
			<br>五、	其他 
			<br>1.	本存戶與貴行間具有委任契約之性質，本存戶持晶片金融卡於特約商店端輸入消費扣款指示時，為委託貴行自本存戶帳戶內扣款，並將消費款項即時轉入指定帳戶之行為。
			<br>2.  本存戶明確瞭解金融卡及密碼，於特約商店進行消費扣款交易，與現金交易並無不同，如與特店發生相關爭議（包括但不限於商品或服務之品質、數量、金額等），皆應向特店尋求解決，不得以此作為向貴行請求返還帳款之依據。本存戶亦不得以與特約商店間銷售交易所生之糾紛對抗貴行。
			<br>六、 存戶同意銀行及財金資訊股份有限公司、與該中心往來之金融機構於其各該特定目的範圍內，得蒐集、電腦處理、國際傳遞及利用存戶之個人資料。
			<br>七、 存戶同意本約定事項如有未盡事宜均依 貴行開戶總約定書、一般金融業務慣例及有關法令辦理。
			<br>&nbsp;<br>&nbsp;
			<br>&nbsp;<br>&nbsp;
			<br>&nbsp;<br>&nbsp;
			<br>&nbsp;<br>&nbsp;<br>
		</div>
	</div>
</div>
<!--section end-->

<!--agree button-->
<div class="agree_location">
	<div class="row">
		<div class="agree_check">
			<div class="agree_title">本人已詳閱及瞭解上開注意事項並遵守之。</div>
			<div class="agree_check_bt">
				<button type="button" class="agree_bt" ng-click="clickAgree()" ng-disabled="disable"><p>同意</p></button>
				<button type="button" class="agree_bt" ng-click="clickDisAgree()" ng-disabled="disable"><p>不同意</p></button>
			</div>
		</div>
	</div>
</div>
<!--agree button end-->
