<section>
    <div class="sub_info_frame">
        <ul class="step_bar_frame">
            <li class="step_bar"></li>
            <li class="step_bar step_active">
                <span>2.確認</span>
            </li>
            <li class="step_bar"></li>
        </ul>
    </div>
    <div class="sub_info_subtitle">
        請確認轉帳資訊以及是否要繼續交易
    </div>

    <ul class="table_info">
     
        <li class="table_row">
            <span>轉出帳號</span>
            <i>{{(formObj| fieldCheck:'trnsfrOutAccnt')| accountFormate}}</i>
        </li>
        <li class="table_row">
            <span>轉入帳號</span>
            <i>{{(formObj| fieldCheck:'trnsfrInAccnt') | accountFormate}}</i>
        </li>

        <li class="table_row">
            <span>議價匯率</span>
            <i>{{formObj | fieldCheck:['negotiatedRate',{zero_type:false, empty_str:'--'}]}}</i>
        </li>
        
        <li class="table_row">
            <span>轉出金額</span>
            <i>{{formObj|fieldCheck:'trnsfrOutCurr'}}&nbsp;{{(formObj| fieldCheck:'trnsfrOutAmount')| htMoney:formObj.trnsfrOutCurr}}</i>
        </li>
        <li class="table_row">
            <span>轉入金額</span>
            <i>{{formObj|fieldCheck:'trnsfrInCurr'}}&nbsp;{{formObj| fieldCheck:'trnsfrInAmount'| htMoney:formObj.trnsfrInCurr}}</i>
        </li>
        <li class="table_row">
            <span>性質別</span>
            <i>{{formObj.subType}}{{formObj | fieldCheck:['subTypeDscp',{zero_type:false, empty_str:'--'}] }}</i>
        </li>
        <li class="table_row">
            <span>備註</span>
            <i>{{(formObj.note != '')?formObj.note:'成交匯率'}}</i>
        </li>

    </ul>

    <!-- 雙欄位（一左一右）資訊範例 //End -->
    <div class="row_single"></div>
    <app-check-security [securityObj]="securityObj" (stepObj)=stepBack($event)></app-check-security>

    <div class="row_single">
        <div class="double_button">
            <a (click)="cancelEdit()">{{'BTN.PREVIOUS' | translate }}</a>
            <a (click)="onNextPgae()">{{'BTN.CHECK' | translate }}</a>
        </div>
    </div>
</section>
