<div ng-if="curStep == 1">
	<div class="bc_frame">
		<!--同意條款-->
		<div class="terms_frame">
			<h3 class="row_single in_sub_title">合作金庫「帳單easy分期」注意事項</h3>
			<div class="frame_p">
				1、本方案適用對象：限合作金庫個人信用卡正卡持卡人(不含商務卡、VISA金融卡、悠遊DEBIT卡、政府採購卡、雄獅旺來卡、臺灣菸酒採購卡及雙幣卡約定外幣結付之帳款）；惟信用額度為臨時調高者，不得申請。
				<br>
				<font class="color_red">2、申請本方案須於繳款截止日前繳足最低應繳金額，並於當月21日前申請。</font>
				<br>
				<font class="color_red">3、本方案之申辦金額不得超逾「本期帳單應繳總額(不含疑義帳款金額)」扣除「本期最低應繳款金額」後剩餘本金，且最低申請金額為3,000元。申請當時申請人名下所有信用卡均需繳款正常。</font>
				<br>4、本方案可分6期、12期、18期及24期攤還本金，各期分期年利率分別為10%、11%、13%、14%，分期利率等於總費用年百分率。利息計算方式：以本金按期平均攤還，各期利息按剩餘本金計算之方式收取。
				<br>5、本方案分期之利息範例說明：以申請金額30,000元且分期期數6期為例，試算每期應攤還利及金額，元以下四捨五入。

				<br><br>
				<table>
					<tr>
						<th class="terms_table_l">期數</th>
						<th class="terms_table">每期本金</th>
						<th class="terms_table">分期年利率</th>
						<th class="terms_table">每期分期<br>利息</th>
						<th class="terms_table">每期攤還<br>總金額</th>
					</tr>
					<tr>
						<td align="left" class="td_norap">第1期</td>
						<td align="right">$5,000</td>
						<td align="right" rowspan="7">10.00%</td>
						<td align="right">250</td>
						<td align="right">$5,250</td>
					</tr>
					<tr>
						<td align="left">第2期</td>
						<td align="right">$5,000</td>
						<td align="right">208</td>
						<td align="right">$5,208</td>
					<tr>
					</tr>
					<td align="left">第3期</td>
					<td align="right">$5,000</td>
					<td align="right">167</td>
					<td align="right">$5,167</td>
					</tr>
					<tr>
						<td align="left">第4期</td>
						<td align="right">$5,000</td>
						<td align="right">125</td>
						<td align="right">$5,125</td>
					</tr>
					<tr>
						<td align="left">第5期</td>
						<td align="right">$5,000</td>
						<td align="right">83</td>
						<td align="right">$5,083</td>
					</tr>
					<tr>
						<td align="left">第6期</td>
						<td align="right">$5,000</td>
						<td align="right">42</td>
						<td align="right">$5,042</td>
					</tr>
				</table>
				<br />註(1)：本廣告揭露之年百分率係按主管機關備查之標準計算範例予以計算，實際條件，仍以銀行提供之產品為準。且每一客戶實際之年百分率仍視其個別產品及個人信用狀況而有所不同。(2)：本產品總費用年百分率等於分期利率。(3)：本總費用年百分率之計算基準日為104年11月1日。
				<br /><br>6、信用卡帳款如有溢繳情形時，溢繳金額將列入下期信用卡帳單抵付下期帳單之應繳款項，不會提前清償分期本金。
				<br />7、首期應付分期本金及利息之入帳日為持卡人申請分期付款核准後之次一期於帳單中列示，例：申辦核准日為6月1日，
				首期應付分期本金入帳日為7月1日，而分期利息入帳日為7月份信用卡結帳日。
				<br />8、本分期自核准日起，申請本金將依申請人選擇之還款期數按每月1期平均攤還，惟若當月之「信用卡結帳日」為假日而順延至第一個銀行上班日時，將發生本期及次期分期款項合請2期向客戶請款之狀況，而下月帳單不再請款，敬請見諒。
				<br />9、本方案還款期數不得中途要求更改，並於完全清償前不可重覆申請。
				<br />10、為遵循主管機關規範，每期帳單應付之分期本金、利息將全額納入每期帳單最低應繳金額，且不得動用信用卡循環信用利息。如未於每月繳款截止日前付清當期最低應繳金額或遲誤繳款期限者，應就未繳清之每期應付分期本金計付遲延利息及違約金，未繳清餘額將佔用持卡人信用卡額度。
				<br />11、本行對本分期交易除代墊款項外，並未介入商品之買賣關係及商品的交付或商品瑕疵等實體關係，相關商品退貨或服務取消的退款事宜，持卡人應洽特約商店尋求解決，如洽特店仍無法解決，應依本行帳款疑義之處理程序辦理。
				<br />12、本方案分期金額不適用已辦理分期付款之交易、退貨、爭議款、循環利息、違約金、臨調額度及掛失費等其它費用類。
				<br />13、若信用卡客戶欲提前清償終止本分期付款方案，或分期付款期間內發生停卡、不續卡、欠款或其他信用貶落等情事時，必須一次繳清剩餘分期款項，不得再享有分期付款之優惠，已收取之各項相關費用亦不予退還，並應遵守本行信用卡約定條款之規定。
				<br />14、本行保留最終核准「帳單easy分期」與否以及決定核准金額、調整期數、利率之權利，及修改各項相關費用之權利，關於本活動未約定事項，悉依本行信用卡約定條款約定之。

				<br /><br />
				<font class="color_red">◎ 請務必於繳款截止日前繳足最低應繳金額，並完成線上申辦，合作金庫商業銀行將有專人為您服務！如於三個營業日內未接獲合作金庫商業銀行電話確認者，請即來本行客服中心查詢。</font>
				<br />◎合作金庫信用卡客服中心服務專線0800-033-175／<a href="tel:0422273131" style="color:blue; text-decoration: block;">04-2227-3131</a><br />網址：<a
				 href="https://www.tcb-bank.com.tw" style="color:blue; text-decoration: block;">www.tcb-bank.com.tw</a>
			</div>
		</div>
		<!--同意條款 //End-->
		<div class="row_single">
			<div class="inner_checkbox">
				<input type="checkbox" id="radio_normal01" name="radio_normal" />
				<label for="radio_normal01" class="original_checkbox option_for_group">
					<span><i></i></span>
					<!--本人已詳閱並同意上述「帳單easy分期」注意事項-->
					<b>{{ 'CTRL_INSTALLMENT.MSG.AGREE_PROVISION' | translate }}</b>
				</label>
			</div>
		</div>

	</div>
	<div class="bc_frame">
		<div class="row_single2">
			<button class="button_confirm" ng-click="onAgree()">{{'BTN.NEXT' | translate}}</button>
		</div>
	</div>
</div>