<div class="bc_frame" ng-if="curStep == 2">
	<!--同意條款-->
	<div class="terms_frame">
		<h3 class="row_single in_sub_title">合作金庫信用卡單筆分期付款約定條款</h3>
		<p>
			1.本方案適用對象：以合作金庫商業銀行Combo卡或信用卡交易且授權通過、並取得授權號碼之案件（不包括商務卡、企業採購卡及雄獅旺來卡）。信用額度為臨時調高者，不得申請。<br/>
			2.申請分期金額以新臺幣為單位，每一筆刷卡金額頇達3,000元以上，且全額申請不得重覆申請。<br/>
			3.分期之各項相關費用及利息範例說明：以10萬元為計算標準，元以下四捨五入<br/>
			6期：各項相關費用總金額NT$100元，於首期一次收取，利息為年利率10.0%，房貸卡利息為年利率8.5%，按月收取(總費用年百分率(註)為10.35%，房貸卡總費用年百分率為8.85%)。<br>
			12期：各項相關費用總金額NT$200元，於首期一次收取，利息為年利率11.0%，房貸卡利息為年利率9.5%，按月收取(總費用年百分率為11.38%，房貸卡總費用年百分率為9.88%)。<br>
			註(1)：本廣告揭露之年百分率係按主管機關備查之標準計算範例予以計算，實際條件，仍以銀行提供之產品為準。且每一客戶實際之年百分率仍視其個別產品及個人信用狀況而有所不同。(2)：費用年百分率不等於分期利率。(3)：本總費用年百分率之計算基準日為101年5月11日。<br>
			4.首期應付分期本金及利息之入帳日為持卡人申請分期付款核准後之次一期於帳單中列示，例：申辦核准日為6月1日，首期應付分期本金及利息之入帳日為7月1日。<br>
			5.本分期自核准日起，申請本金將依申請人選擇之還款期數按每1月為1期平均攤還，惟若當月之「分期請款日」為休假日而順延至「帳單結帳日」請款時，可能發生當期分期款項未及向您請款，次期合請2期款之狀況，敬請見諒。<br>
			6.持卡人一經申請即不可取消，且本活動還款期數持卡人不得中途要求更改，並於完全清償前不可要求更改帳單週期。<br>
			7.為遵循主管機關規範，每期帳單應付之分期本金、利息將全額納入每期帳單最低應繳金額，且不得動用信用卡循環信用利息。如未於每月繳款截止日前付清當期最低應繳金額或遲誤繳款期限者，應就未繳清之每期應付分期本金計付遲延利息。<br>
			8.合作金庫商業銀行所提供之分期付款活動，係為信用卡卡友之服務措施，與商品/服務出賣人彼此間並無代理、合夥或任何其他從屬關係存在，若對商品/服務本身有任何疑問，請逕洽商店尋求解決。<br>
			9.合作金庫商業銀行對本分期交易除代墊款項外，並未介入商品之買賣關係及商品的交付或商品瑕疵等實體關係，相關商品退貨或服務取消的退款事宜，持卡人應洽特約商店尋求解決，但不得以此作為拒繳應付帳款之抗辯。<br>
			10.本分期付款不適用之消費：珠寶銀樓業預借現金賭金遞延性商品或服務等預付型交易，如禮券、會員費或生前契約等投資性商品，如股票、基金或期貨等。持卡人若以上述消費交易向合作金庫商業銀行申請「來電分期輕鬆購」者，如發生特約商店倒閉、休業或無法履行契約服務時，持卡人應洽特約商店尋求解決，但不得以此作為向合作金庫商業銀行拒繳應付帳款之抗辯。<br>
			11.若信用卡客戶欲提前清償終止本分期付款方案，或分期付款期間內發生停卡、不續卡、欠款或其他信用貶落等情事時，必頇一次繳清剩餘分期款項，不得再享有分期付款之優惠，已收取之各項相關費用亦不予退還，並應遵守合作金庫商業銀行信用卡約定條款之規定。<br>
			12.合作金庫商業銀行保留最終核准該筆交易可享分期之權利及修改各項相關費用之權利<br>
		</p>
	</div>
	<div class="row_single">
		<div class="inner_checkbox">
			<input type="checkbox" id="radio_normal01" name="radio_normal"/>
			<label for="radio_normal01" class="original_checkbox option_for_group">
					<span><i></i></span>
				<b>{{'INPUT_MSG.AGREE_PROVISION_SPECAIL' | translate }}</b>
				<!-- 本人已詳閱並同意上述特別約定條款之規定 -->
			</label>
		</div>
	</div>


	<!--同意條款 //End -->
	<div class="bc_frame">
		<div class="row_single2">
			<button class="button_confirm" ng-click="onAgree()">{{'BTN.NEXT' | translate}}</button>
		</div>	
	</div>


</div>