<!-- 基金申購(單筆) -->
<ng-container [ngSwitch]="nowPage">
    <!-- 編輯頁1 Start -->
    <ng-container *ngSwitchCase="'single_edit_1'">
        <section>
            <!-- 步驟列 or 其他資訊框架 -->
            <div class="sub_info_frame">
                <ul class="step_bar_frame">
                    <li class="step_bar ">
                    </li>
                    <li class="step_bar step_active">
                        <span>2.資料設定</span>
                    </li>
                    <li class="step_bar"></li>
                    <li class="step_bar"></li>
                    <li class="step_bar"></li>
                </ul>
            </div>
            <div class="sub_info_subtitle">
                投資基金標的：
                <i class="font_money_blu">{{fundSubject.fundCode}}{{fundSubject.fundName}}({{fundSubject.risk}})</i>
            </div>

            <div class="row_single">
                <h4 class="simple_title">投資幣別</h4>
            </div>
            <div class="row_single">
                <div class="inner_radio radio_inline" [ngClass]="{ 'normal_disable':(showDisable_twd) }" (click)="selectCurr('twd')">
                    <input type="radio" id="radio_button01" name="inner_s_radio" [checked]="showCheck">
                    <label for="radio_button01">
                        <span>
                            <i></i>
                        </span>
                        <b>台幣</b>
                    </label>
                </div>
                <div class="inner_radio radio_inline" [ngClass]="{ 'normal_disable':(showDisable_frgn) }" (click)="selectCurr('forgen')">
                    <input type="radio" id="radio_button02" name="inner_s_radio" [checked]="!showCheck">
                    <label for="radio_button02">
                        <span>
                            <i></i>
                        </span>
                        <b>外幣</b>
                    </label>
                </div>
            </div>
            <!-- <div class="row_single">
                <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(check_trust) }">
                    <li class="inner_table_cell">選擇信託帳號</li>
                    <li class="inner_table_cell">
                        <select name="" class="inner_select" [(ngModel)]="inp_data.trustNo">
                            <option value="">請選擇</option>
                            <option [ngValue]="item3" *ngFor="let item3 of set_trust">{{item3.trustAcntNo}}</option>
                        </select>
                    </li>
                </ul>
                <i class="input_info_warnning">{{'CHECK.SELECT_TRUST' | translate}}</i>
            </div> -->

            <div class="row_single">
                <h4 class="simple_title">扣款設定</h4>
            </div>

            <ng-container *ngIf="showCheck == true; else forgenBox">
                <div class="row_single">
                    <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(check_twAcnt) }">
                        <li class="inner_table_cell">約定扣款帳號(台幣)</li>
                        <li class="inner_table_cell">
                            <select name="" class="inner_select" [(ngModel)]="inp_data.twAcntNo">
                                <option value="" *ngIf="showAcnt.length > 1">請選擇</option>
                                <option *ngFor="let item of showAcnt" [ngValue]="item">{{item.twAcntNo}}</option>
                            </select>
                        </li>
                    </ul>
                    <i class="input_info_warnning">{{'CHECK.SELECT_TURNACOUNT' | translate}}</i>
                </div>
            </ng-container>

            <ng-template #forgenBox>
                <div class="row_single">
                    <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(check_frgn) }">
                        <li class="inner_table_cell">約定扣款帳號(外幣)</li>
                        <li class="inner_table_cell">
                            <select name="" class="inner_select" [(ngModel)]="inp_data.frgnNo">
                                <option value="" *ngIf="showAcnt.length > 1">請選擇</option>
                                <option *ngFor="let item2 of showAcnt" [ngValue]="item2">{{item2.frgnAcntNo}}</option>
                            </select>
                        </li>
                    </ul>
                    <i class="input_info_warnning">{{'CHECK.SELECT_TURNACOUNT' | translate}}</i>
                </div>
            </ng-template>

            <div class="row_single">
                <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(errorMsg.amount !== '') }">
                    <li class="inner_table_cell">
                        投資金額({{fundSubject.currency}})
                    </li>
                    <li class="inner_table_cell">
                        <input type="tel" name="" class="inner_input" placeholder="請輸入金額" [(ngModel)]="inp_data.amount"
                            (change)="amntCheck(inp_data.amount, fundSubject.currency, 'amount')">
                    </li>
                    <li class="inner_table_cell"></li>
                </ul>
                <i class="input_info_warnning">{{errorMsg.amount | translate}}</i>
                <a href="javascript:void('0')" (click)="investDesc()" class="fontw normal_link color_fee" style="float: right">
                    投資金額說明
                </a>
            </div>

            <div id="trans_date" class="row_single">
                <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(checkDate) }">
                    <li class="inner_table_cell">
                        設定申購日期
                    </li>
                    <li class="inner_table_cell">
                        <!-- <input type="date" name="dateWithMinMax" min="2019/01/7" max="2019/06/26" class="inner_input_data" [(ngModel)]="inp_data.date"> -->
                        <input-date [min]="minDay" [max]="maxDay" [(ngModel)]="inp_data.date" (backValueEmit)="onInputBack($event)"></input-date>
                    </li>
                </ul>
                <i class="input_info_warnning">{{date_error | translate}}</i>
                <ng-container *ngIf="resverFlag||(nowToResver &&!resverFlag)">
                    <i class="select_info">
                        目前設定
                        <i class="font_red">預約</i>申購日期為
                        <span>{{inp_data.date}}</span>
                    </i>
                </ng-container>
                <!-- <i class="select_info" id="currentTime4" style="display:none">
            目前設定
            <i class="font_red">預約</i>
            申購日期為
            <span id="currentTime5"></span>
        </i> -->
            </div>

            <div class="row_single">
                <div class="double_button" style="margin-top: 10px;">
                    <a href="javascript:void(0)" (click)="onBack()">{{'BTN.PREVIOUS' | translate}}</a>
                    <a href="javascript:void(0)" (click)="onConfirm()">{{'BTN.NEXT' | translate}}</a>
                </div>
            </div>
        </section>
    </ng-container>
    <!-- 編輯頁1 End -->

    <!--------------------------------------------------------------------------------------------------->
    <!-- 編輯頁2 Start -->
    <ng-container *ngSwitchCase="'single_edit_2'">
        <ng-container *ngIf="!branchSelect; else branchList">
            <section>
                <div class="sub_info_frame">
                    <ul class="step_bar_frame">
                        <li class="step_bar ">
                        </li>
                        <li class="step_bar"></li>
                        <li class="step_bar step_active">
                            <span>3.申購設定</span>
                        </li>
                        <li class="step_bar"></li>
                        <li class="step_bar"></li>
                        <li class="step_bar"></li>
                    </ul>
                </div>

                <!-- 舊api無此需求，於第二階段詢問是否加入 2019/07/03-->
                <!-- <div class="row_single">
                <h4 class="simple_title">停利/停損點設定</h4>
            </div>
            <div class="row_single">
                <p class="inner_content">
                    請輸入3位內整數；停損點最小限制額-100%。
                </p>
            </div>
            <div class="row_single">
                <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(errorMsg.balance1 != '') }">
                    <li class="inner_table_cell">
                        停損點(-)
                    </li>
                    <li class="inner_table_cell">
                        <input type="number" name="" class="inner_input" max="3" placeholder="請輸入整數" [(ngModel)]="balanceData['details']['detail'][0]['incomePoint']"
                            (change)="amntCheck(balanceData['details']['detail'][0]['incomePoint'], fundSubject.currency, 'balance1')">
                    </li>
                    <li class="inner_table_cell">%</li>
                </ul>
                <i class="input_info_warnning">{{errorMsg.balance1 | translate}}</i>
            </div>
            <div class="row_single">
                <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(errorMsg.balance2 != '') }">
                    <li class="inner_table_cell">
                        停利點(+)
                    </li>
                    <li class="inner_table_cell">
                        <input type="number" name="" class="inner_input" max="3" placeholder="請輸入整數" [(ngModel)]="balanceData['details']['detail'][0]['profitPoint']"
                            (change)="amntCheck(balanceData['details']['detail'][0]['profitPoint'], fundSubject.currency, 'balance2')">
                    </li>
                    <li class="inner_table_cell">%</li>
                </ul>
                <i class="input_info_warnning">{{errorMsg.balance2 | translate}}</i>
            </div>

            <div class="row_single">
                <h4 class="simple_title">通知/出場設定</h4>
            </div> -->


                <!-- 20190628 基金單筆申購沒有續扣與不續扣按鈕 參考文件轉置案UAT問題追蹤表@20190628.xls，問題單號385 -->
                <!-- <div class="inner_checkbox" (click)="onNotice('auto')">
                    <input type="checkbox" name="inner_checkbox" [ngModel]="autoFlag">
                    <label>
                        <span>
                            <i></i>
                        </span>
                        <b>自動贖回</b>
                    </label>
                </div>
                <ng-container *ngIf="autoFlag">
                    <div>
                        <dl class="inner_table_double">
                            <dt class="inner_cell_double">
                                <div class="radio_button" (click)="onContinue('Y')">
                                    <input type="radio" id="radio_s_buttond01" name="radio_button_s" [checked]="continue">
                                    <label for="radio_s_buttond01">
                                        <b>續扣</b>
                                    </label>
                                </div>
                            </dt>
                            <dt class="inner_cell_double">
                                <div class="radio_button" (click)="onContinue('N')">
                                    <input type="radio" id="radio_s_buttond02" name="radio_button_s" [checked]="!continue">
                                    <label for="radio_s_buttond02">
                                        <b>不續扣</b>
                                    </label>
                                </div>
                            </dt>
                        </dl>
                    </div>
                    <div class="row_single"></div>
                </ng-container> -->

                <!-- 舊api無此需求，於第二階段詢問是否加入 2019/07/03-->
                <!-- <div class="inner_checkbox" (click)="onNotice('imm')">
                    <input type="checkbox" name="inner_checkbox" [ngModel]="immFlag">
                    <label>
                        <span>
                            <i></i>
                        </span>
                        <b>即時畫面</b>
                    </label>
                </div>

                <div class="inner_checkbox" (click)="onNotice('email')">
                    <input type="checkbox" name="inner_checkbox" [ngModel]="emailFlag">
                    <label>
                        <span>
                            <i></i>
                        </span>
                        <b>E-mail</b>
                    </label>
                </div> -->


                <div class="row_single">
                    <h4 class="simple_title">停利/停損點設定</h4>
                </div>
                <div class="row_single">
                    <p class="inner_content">
                        請輸入3位內整數；停損點最小限制額-100%。
                    </p>
                </div>
                <div class="row_single">
                    <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(errorMsg.balance1 != '') }">
                        <li class="inner_table_cell">
                            停損點(-)
                        </li>
                        <li class="inner_table_cell">
                            <input type="tel" name="" class="inner_input" max="3" placeholder="請輸入整數" [(ngModel)]="singleReq.sLoss"
                                (change)="amntCheck(singleReq.sLoss, fundSubject.currency, 'balance1')">
                        </li>
                        <li class="inner_table_cell">%</li>
                    </ul>
                    <i class="input_info_warnning">{{errorMsg.balance1 | translate}}</i>
                </div>
                <div class="row_single">
                    <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(errorMsg.balance2 != '') }">
                        <li class="inner_table_cell">
                            停利點(+)
                        </li>
                        <li class="inner_table_cell">
                            <input type="tel" name="" class="inner_input" max="3" placeholder="請輸入整數" [(ngModel)]="singleReq.sPro"
                                (change)="amntCheck(singleReq.sPro, fundSubject.currency, 'balance2')">
                        </li>
                        <li class="inner_table_cell">%</li>
                    </ul>
                    <i class="input_info_warnning">{{errorMsg.balance2 | translate}}</i>
                </div>

                <!-- 自動贖回目前已開啟 START-->
                <div class="row_single">
                    <h4 class="simple_title">通知設定</h4>
                </div>
                <div class="row_single_fund_set">
                    <div class="inner_checkbox" (click)="onNotice('imm')" [ngClass]="{ 'normal_disable':autoFlag}">
                        <input type="checkbox" name="inner_checkbox" [ngModel]="immFlag">
                        <label>
                            <span>
                                <i></i>
                            </span>
                            <b>即時畫面</b>
                        </label>
                    </div>

                    <div class="inner_checkbox" (click)="onNotice('email')" [ngClass]="{ 'normal_disable':autoFlag}">
                        <input type="checkbox" name="inner_checkbox" [ngModel]="emailFlag">
                        <label>
                            <span>
                                <i></i>
                            </span>
                            <b>E-mail</b>
                        </label>
                    </div>
                </div>

                <div class="row_single">
                    <h4 class="simple_title">出場設定</h4>
                </div>
                <div class="row_single">
                    <div class="inner_checkbox" (click)="onNotice('auto')">
                        <input type="checkbox" name="inner_checkbox" [ngModel]="autoFlag">
                        <label>
                            <span>
                                <i></i>
                            </span>
                            <b>自動贖回</b>
                        </label>
                    </div>
                </div>
                <!-- 自動贖回目前已開啟 END-->

                <div class="row_single" *ngIf="checkbranch == 1">
                    <!-- 20190626 依合庫需求改為非必填，請參考文件:轉置案UAT問題追蹤表@20190625.xls-問題編號353 -->
                    <!-- <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(check_sales) }"> -->
                    <ul class="inner_table_frame">
                        <li class="inner_table_cell">
                            歸屬分行
                        </li>
                        <li class="inner_table_cell">
                                {{branch}}
                            <!-- <select name="" class="inner_select" (click)="selectBranch()">
                                <option value="" *ngIf="!branch">請選擇分行</option>
                                <option value="" *ngIf="branch">{{branch}}</option>
                            </select> -->
                        </li>
                    </ul>
                    <!-- <i class="input_info_warnning">{{'CHECK.SELECT_SALES' | translate}}</i> -->
                </div>

                <div class="row_single" *ngIf="checkbranch == 1">
                    <!-- 20190626 依合庫需求改為非必填，請參考文件:轉置案UAT問題追蹤表@20190625.xls-問題編號353 -->
                    <!-- <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(check_sales) }"> -->
                    <ul class="inner_table_frame">
                        <li class="inner_table_cell">
                            理財專員
                        </li>
                        <li class="inner_table_cell">
                            {{_sales[salesindex]['salesName']}}-{{inp_data.sales | identityMask}}
                            <!-- <select name="" class="inner_select" [(ngModel)]="inp_data.sales">
                                <option value="">請選擇理財專員</option>
                                <option [ngValue]="sales_item" *ngFor="let sales_item of _sales">{{sales_item.name}}-{{sales_item.pid
                                    | identityMask}}</option>
                            </select> -->
                        </li>
                    </ul>
                    <i class="input_info_warnning">{{'CHECK.SELECT_SALES' | translate}}</i>
                </div>

                <div class="row_single" *ngIf="checkbranch == 1">
                    <!-- <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(check_intro) }"> -->
                    <ul class="inner_table_frame">
                        <li class="inner_table_cell">
                            轉介人員
                        </li>
                        <li class="inner_table_cell">
                            <select name="" class="inner_select" [(ngModel)]="inp_data.intro">
                                <option value="">請選擇轉介人員</option>
                                <option [ngValue]="intro_item" *ngFor="let intro_item of _intro">{{intro_item.introName}}-{{intro_item.introId
                                    | identityMask}}</option>
                            </select>
                        </li>
                    </ul>
                    <i class="input_info_warnning">{{'CHECK.SELECT_INTRO' | translate}}</i>
                </div>

                <div class="row_single" *ngIf="checkbranch == 2">
                    <!-- 20190626 依合庫需求改為非必填，請參考文件:轉置案UAT問題追蹤表@20190625.xls-問題編號353 -->
                    <!-- <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(check_sales) }"> -->
                    <ul class="inner_table_frame">
                        <li class="inner_table_cell">
                            歸屬分行
                        </li>
                        <li class="inner_table_cell">
                            <select name="" class="inner_select" (click)="selectBranch()">
                                <option value="" *ngIf="!branch">請輸入分行代碼</option>
                                <option value="" *ngIf="branch">{{branch}}</option>
                            </select>
                        </li>
                    </ul>
                    <!-- <i class="input_info_warnning">{{'CHECK.SELECT_SALES' | translate}}</i> -->
                </div>

                <div class="row_single" *ngIf="checkbranch == 2">
                    <!-- 20190626 依合庫需求改為非必填，請參考文件:轉置案UAT問題追蹤表@20190625.xls-問題編號353 -->
                    <!-- <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(check_sales) }"> -->
                    <ul class="inner_table_frame">
                        <li class="inner_table_cell">
                            理財專員
                        </li>
                        <li class="inner_table_cell">
                            <select name="" class="inner_select" [(ngModel)]="inp_data.sales">
                                <option value="">請選擇理財專員</option>
                                <option [ngValue]="sales_item" *ngFor="let sales_item of _sales">{{sales_item.name}}-{{sales_item.pid
                                    | identityMask}}</option>
                            </select>
                        </li>
                    </ul>
                    <i class="input_info_warnning">{{'CHECK.SELECT_SALES' | translate}}</i>
                </div>

                <div class="row_single" *ngIf="checkbranch == 2">
                    <!-- <ul class="inner_table_frame" [ngClass]="{ 'active_warnning':(check_intro) }"> -->
                    <ul class="inner_table_frame">
                        <li class="inner_table_cell">
                            轉介人員
                        </li>
                        <li class="inner_table_cell">
                            <select name="" class="inner_select" [(ngModel)]="inp_data.intro">
                                <option value="">請選擇轉介人員</option>
                                <option [ngValue]="intro_item" *ngFor="let intro_item of _intro">{{intro_item.name}}-{{intro_item.pid
                                    | identityMask}}</option>
                            </select>
                        </li>
                    </ul>
                    <i class="input_info_warnning">{{'CHECK.SELECT_INTRO' | translate}}</i>
                </div>

                <div class="row_single">
                    <div class="double_button" style="margin-top: 10px;">
                        <a href="javascript:void(0)" (click)="onBackEdit1()">{{'BTN.PREVIOUS' | translate}}</a>
                        <a href="javascript:void(0)" (click)="onNext()">{{'BTN.NEXT' | translate}}</a>
                    </div>
                </div>
            </section>
        </ng-container>

        <ng-template #branchList>
            <app-fund-select-branch (backPageEmit)="onPageBackEvent($event)" (errorPageEmit)="onErrorBackEvent($event)"></app-fund-select-branch>
        </ng-template>
    </ng-container>
    <!-- 編輯頁2 End -->

    <!--------------------------------------------------------------------------------------------------->
    <!-- 編輯頁3 Start -->
    <ng-container *ngSwitchCase="'single_edit_3'">
        <section>
            <!-- 副標列 -->
            <div class="sub_info_frame">
                <ul class="step_bar_frame">
                    <li class="step_bar ">
                    </li>
                    <li class="step_bar"></li>
                    <li class="step_bar"></li>
                    <li class="step_bar"></li>
                    <li class="step_bar step_active">
                        <span>4.條款確認</span>
                    </li>
                    <li class="step_bar"></li>
                    <li class="step_bar"></li>
                </ul>
            </div>

            <div class="row_single">
                <h4 class="simple_title">您本次申購之基金 :</h4>
            </div>

            <div class="row_single">
                <input type="text" name="" class="inner_input_normal search_range_disable" placeholder="" value="{{singleReq.fundCode}}{{fundSubject.fundName}}">
            </div>

            <div class="row_single">
                <div class="inner_checkbox">
                    <input type="checkbox" id="inner_checkbox01" name="inner_checkbox" [checked]="agree1" #fundBook
                        (click)="chgAgree('1')">
                    <label for="inner_checkbox01">
                        <span>
                            <i></i>
                        </span>
                        <b>本人已自行至「<i class="attract_link fontw" (click)="goFundUrl('1')">境外基金資訊觀測站</i>」及「<i class="attract_link fontw"
                                (click)="goFundUrl('2')">公開資訊觀測站</i>」下載並詳閱投資人須知及公開說明書中譯本等相關資訊。</b>
                    </label>
                </div>
            </div>

            <div class="row_single">
                <div class="inner_checkbox">
                    <input type="checkbox" id="inner_checkbox02" name="inner_checkbox2" [checked]="agree2" #fundInfo
                        (click)="chgAgree('2')">
                    <label for="inner_checkbox02">
                        <span>
                            <i></i>
                        </span>
                        <b>已瞭解<i class="attract_link fontw" (click)="linkToBook2()">基金通路報酬揭露資訊</i></b>
                    </label>
                </div>
            </div>
            <div class="row_single">
                <div class="inner_checkbox">
                    <input type="checkbox" id="inner_checkbox03" name="inner_checkbox3" [checked]="agree3" #fundInfo
                        (click)="chgAgree('3')">
                    <label for="inner_checkbox03">
                        <span>
                            <i></i>
                        </span>
                        <b>已瞭解<i class="attract_link fontw" (click)="linkToBook3()">基金近五年費用率及報酬率</i></b>
                    </label>
                </div>
            </div>
            <div class="row_single">
                <div class="double_button">
                    <a href="javascript:void(0)" (click)="onBackEdit2()">{{'BTN.PREVIOUS' | translate}}</a>
                    <a href="javascript:void(0)" (click)="onConfirm3(fundBook,fundInfo)">{{'BTN.NEXT' | translate}}</a>
                </div>
            </div>

            <div class="row_single">
                <h4 class="simple_title">提醒您：</h4>
            </div>

            <div class="row_single">
                <p class="inner_content">

                    若您尚未知悉上述資訊，請洽本行投資專員
                </p>
            </div>
            <!-- section //End -->
        </section>
    </ng-container>
    <!-- 編輯頁3 End -->

    <!-- 單筆申購(確認頁) Start-->
    <ng-container *ngSwitchCase="'singleConfirm'">
        <app-purchase-single-confirm [setInfo]="setInfo" [resver_info]="resver_info" [purchaseInfo]="purchaseInfo"
            [balanceData]="balanceData" [resvertype]="resverFlag" (backPageEmit)="onPageBackEvent($event)"
            (errorPageEmit)="onErrorBackEvent($event)">
        </app-purchase-single-confirm>
    </ng-container>
    <!-- 單筆申購(確認頁) End-->

</ng-container>
