.gold_refresh_btn {
  bottom: 10px;
}

.sub_info_subtitle.font_align_left {
  height: 60px;
  line-height: 40px;
}

.mi_block_divider {
  margin: 0
}

.row_single.fastLink.text-align-right {
  height: 30px;
}
