<section class="accountSum_main_pg">
  <div class="sub_info_subtitle">
    查詢時間：<span id="currentTime2"></span>
  </div>
  <div class="row_single"></div>

  <div class="row_single">
    <div class="accountCard_frame">
      <div class="accountCard_td">
        <ul class="accountCard_inner_table">
          <li class="accountCard_inner_row">
            <span class="accountCard_inner_td_new accountCard_inner_td_l_new accountCard_name_new">
              財富管理
            </span>
            <span class="accountCard_inner_td_new accountCard_inner_td_r_new">
              0796-899-300865
            </span>
          </li>
          <li class="accountCard_inner_row">
            <span class="accountCard_inner_td_new accountCard_inner_td_l_new ">
              結存公克數<br>(NTD/USD)
            </span>
            <span class="accountCard_inner_td_new accountCard_inner_td_r_new accountCard_money_new">
              392.00/0.00
            </span>
          </li>

        </ul>
      </div>
      <div class="accountCard_td accountCard_td_arrow">
        <a href="01search_detail2.html" class="arrow_link"></a>
      </div>
    </div>
  </div>

  <div class="row_single">
    <div class="accountCard_frame">
      <div class="accountCard_td">
        <ul class="accountCard_inner_table">
          <li class="accountCard_inner_row">
            <span class="accountCard_inner_td_new accountCard_inner_td_l_new accountCard_name_new">
              財富管理
            </span>
            <span class="accountCard_inner_td_new accountCard_inner_td_r_new">
              0789-566-300745
            </span>
          </li>
          <li class="accountCard_inner_row">
            <span class="accountCard_inner_td_new accountCard_inner_td_l_new ">
              結存公克數<br>(NTD/USD)
            </span>
            <span class="accountCard_inner_td_new accountCard_inner_td_r_new accountCard_money_new">
              455.00/0.00
            </span>
          </li>
        </ul>
      </div>
      <div class="accountCard_td accountCard_td_arrow">
        <a href="01search_detail2.html" class="arrow_link"></a>
      </div>
    </div>
  </div>
</section>