<section>

  <!-- 進度條 -->
  <div class="sub_info_frame">
    <ul class="step_bar_frame">
      <li class="step_bar step_active"><span>1.同意條款</span></li>
      <li class="step_bar"></li>
      <li class="step_bar"></li>
    </ul>
  </div>

  <div class="row_single">
    <h4 class="simple_title">無卡提款服務約定事項</h4>
  </div>
  <div class="agree_info">
  <div class="row_single" style="width: 100%;">
      <p class="inner_content" style="font-weight: normal;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">立約人茲向合作金庫商業銀行(以下簡稱貴行)申請無卡提款服務，除願遵守貴行「金融卡約定事項」外，並同意且遵守下列各項約定條款：</span>
        <br>
        <br><span style="font-weight: bold;">一、名詞定義</span>
          <br>(一)立約人：指於貴行開立個人帳戶且持有實體金融卡(含晶片金融卡、感應式金融卡、VISA金融卡及Combo卡，以下簡稱金融卡)，並已安裝貴行「合作金庫銀行」APP且完成裝置綁定，依貴行規定申辦及使用本服務之自然人。
          <br>(二)手機門號：指立約人留存於貴行基本資料之手機號碼，供貴行簡訊通知使用，嗣後若有變動，立約人應立即主動向貴行辦理變更。
          <br>(三)無卡提款：立約人使用貴行「合作金庫銀行」APP產生之一次性「無卡提款序號」及自行設定之一次性「無卡提款密碼」等交易驗證資訊，於有效時間內至自動櫃員機(以下簡稱ATM)進行無卡提款。
          <br>(四)無卡提款序號：立約人使用貴行「合作金庫銀行」APP之「預約無卡提款」功能，於選擇提款帳號、輸入提款金額及相關驗證資訊後所產生，並指定作為當次提款使用之一次性無卡提款序號。
          <br>(五)無卡提款密碼：立約人使用貴行「合作金庫銀行」APP之「預約無卡提款」功能時，自行設定之無卡提款密碼，並指定做為當次提款使用之一次性無卡提款密碼。
          <br>(六)有效時間：指立約人使用「合作金庫銀行」APP之「預約無卡提款」功能並成功取得無卡提款序號起算15分鐘內，得至自動櫃員機進行無卡提款交易之時效。
        <br>
        <br><span style="font-weight: bold;">二、申請手續</span>
          <br><i style="padding-left: 2em;">立約人得透過以下任一方式申請無卡提款服務：</i>
          <br>(一)立約人攜帶貴行任一張金融卡，於貴行ATM設定「手機設備認證碼」，於24小時內登入貴行「合作金庫銀行」APP，點選「無卡提款帳號設定」功能後，依畫面指示操作並輸入於ATM設定之「手機設備認證碼」，即可完成申辦。
          <br>(二)立約人透過貴行「合作金庫銀行」APP，點選「無卡提款帳號設定」功能，並搭配OTP簡訊驗證碼(發送至立約人留存於本行之手機號碼)申辦。
        <br>
        <br><span style="font-weight: bold;">三、無卡提款使用方式</span>
          <br><i style="padding-left: 2em;">立約人需先登入貴行「合作金庫銀行」APP，點選「預約無卡提款」功能，選擇提款帳號、金額並設定一組一次性無卡提款密碼後，將取得一組一次性無卡提款序號，立約人須於有效時間內至 貴行或參加金融資訊系統跨行連線之ATM，並依畫面指示輸入交易資料，如資料驗證相符，即可成功領取現金。</i>
        <br>
        <br><span style="font-weight: bold;">四、交易行為之效力</span>
          <br><i style="color: red; text-decoration:underline;padding-left: 2em;">立約人使用本服務所為之無卡提款交易，其交易與憑存摺印鑑所為之交易行為具有同等效力。</i>
        <br>
        <br><span style="font-weight: bold;">五、提領金額之限制</span>
        <br>(一)<i style="color: red; text-decoration:underline;">無卡提款金額以仟元為單位，單筆提款最高限額為新台幣(以下同)3萬元，每帳號之每日提款最高限額為3萬元，無卡提款每日交易限額須與金融卡及指靜脈無卡提款每日交易最高限額合併計算為15萬元。</i>
        <br>(二)<i style="color: red; text-decoration:underline;">立約人於參加金融機構資訊系統跨行連線金融單位設置之ATM進行無卡提款時，單筆最高限額為2萬元，每帳號之每日最高限額與合併計算原則同上。</i>
        <br>(三)前項所定之限額，貴行得視實際業務需要隨時調整，除法規另有明定外，貴行應於調整30日前以顯著方式於營業處所及貴行網站公開揭示之。
        <br>
        <br><span style="font-weight: bold;">六、使用無卡提款服務之限制</span>
        <br>(一)本服務限於一個行動裝置上申請使用，如需更換其他行動裝置使用本服務時，須於新的行動裝置上重新執行「無卡提款帳號設定」並依畫面指示完成設定後即可使用，系統將自動取消並停用原行動裝置上之無卡提款功能。
        <br>(二)立約人於進行「預約無卡提款」功能時，限透過貴行「合作金庫銀行」APP並完成裝置綁定之行動設備。
        <br>(三)立約人<i style="color: red; text-decoration:underline;">每次僅限預約一筆無卡提款交易</i>，須待該筆交易完成、取消或失效後，始得再次預約。
        <br>(四)本服務係金融卡之衍生服務，如該無卡提款服務所屬帳戶之金融卡因密碼輸入錯誤次數達上限而遭鎖定，或有掛失、註銷、終止時，貴行得暫停本服務，俟立約人辦妥金融卡解除鎖定、掛失或重新核發新卡時，貴行將自動恢復該帳號之無卡提款服務。
        <br>(五)<i style="color: red; text-decoration:underline;">立約人應盡善良管理人之注意，不得讓與、轉借、提供擔保或以其他方式將密碼及載有「合作金庫銀行」APP之行動裝置轉讓第三人或交其使用，如有出借、轉讓或質押者，立約人應自負其責。</i>
        <br>
        <br><span style="font-weight: bold;">七、費用之計收、揭示與調整</span>
        <br>(一)立約人使用本服務所為無卡提款交易所生之交易手續費，比照金融卡之計費標準。
        <br>(二)前述交易手續費雙方同意自存戶帳戶扣繳。
        <br>(三)前述交易手續費之公告及調整，貴行應以顯著方式於貴行網站公開揭示。
        <br>
        <br><span style="font-weight: bold;">八、交易驗證資訊之保管</span>
        <br>(一)立約人自行設定之一次性「無卡提款密碼」時，應注意密碼之設置及使用，請勿使用與立約人個人資料有關或具連續性、重覆性或規則性之號碼為密碼，並應妥善保管「無卡提款序號」及「無卡提款密碼」等交易驗證資訊，不得將上開交易驗證資訊以任何方式使第三人知悉或得以知悉，以確保交易安全。
        <br>(二)如因第三人冒用或盜用上開交易驗證資訊致發生損害時，除可證明係貴行對資訊系統之控管未盡善良管理人之注意義務外，應由立約人自行負責；如致貴行受有任何直接或間接損害，立約人應負賠償之責。
        <br>
        <br><span style="font-weight: bold;">九、取消無卡提款交易</span>
        <br><i style="padding-left: 2em;">立約人如欲取消當次無卡提款交易，得於該筆無卡提款交易有效時間內，登入貴行「合作金庫銀行」APP，點選「無卡提款」功能項下之「交易紀錄查詢/取消」並點擊「取消預約」，即可取消該筆預約無卡提款交易。</i>
        <br>
        <br><span style="font-weight: bold;">十、無卡提款交易失效</span>
        <br>(一)立約人於貴行「合作金庫銀行」APP完成「預約無卡提款」功能後，於ATM進行無卡提款之操作時，如<i style="color: red; text-decoration:underline;">輸入「無卡提款序號」、「提款金額」、「無卡提款密碼」或其他交易驗證資訊連續錯誤次數累計達3次時，貴行為考量安全並保護立約人權益，將自動取消該筆無卡提款交易。</i>
        <br>(二)立約人如未於該筆預約無卡提款交易之有效期間內至ATM完成提款，該筆無卡提款交易將立即失效。
        <br>
        <br><span style="font-weight: bold;">十一、無卡提款交易資料之紀錄及保存</span>
        <br><i style="padding-left: 2em;">立約人使用本服務之提款紀錄，概以 貴行連線系統紀錄(包含但不限於磁帶、錄影帶、紙捲等)為準，且 貴行應至少保存五年以上。</i>
        <br>
        <br><span style="font-weight: bold;">十二、無卡提款帳號異動</span>
        <br>(一)如欲新增無卡提款帳號，得依本約定事項第二條申請手續之方式逕行設定。
        <br>(二)如欲取消無卡提款帳號，立約人須先登入本行「合作金庫銀行」APP後，點選「無卡提款帳號設定」功能，選擇取消之頁籤，並勾選欲取消本服務之帳號，即可完成取消無卡提款帳號之設定。
        <br>
        <br><span style="font-weight: bold;">十三、個人資料之蒐集、利用及處理</span>
        <br><i style="padding-left: 2em;">立約人因使用無卡提款交易跨行業務服務，同意貴行、該筆交易往來之金融機構、財團法人聯合徵信中心、財金資訊股份有限公司及其他經金融監督管理委員會、農業金融主管機關許可設立或營業之機構，在完成上述跨行業務服務之目的內，得依法令規定蒐集、處理、國際傳遞及利用其個人資料。貴行非經立約人同意或依其他法令規定，不得將其個人資料提供予上述機構以外之第三人利用。</i>
        <br>
        <br><span style="font-weight: bold;">十四、契約之終止</span>
        <br>(一)立約人得隨時向 貴行申請停用無卡提款服務，並終止本約定事項。
        <br>(二)如有下列情事之一者，貴行得隨時停用或暫時停止提供無卡提款服務功能：
        <br><i style="padding-left: 1em;">1、立約人之存款帳號作為洗錢、詐欺等不法之用途。</i>
        <br><i style="padding-left: 1em;">2、立約人之帳戶經依法令規定列為暫停給付、警示或衍生管制帳戶。</i>
        <br><i style="padding-left: 1em;">3、立約人違反法令規定、損及貴行權益或有其他不法行為。</i>
        <br>(三)誠信經營原則：
        <br><i style="padding-left: 1em;">1、任何一方知悉有人員違反禁止收受佣金、回扣或其他不正當利益之契約條款時，應立即據實將此等人員之身分、提供、承諾、要求或收受之方式、金額或其他不正當利益告知他方，並提供相關證據且配合他方調查。一方如因此而受有損害時，得向他方請求損害賠償，並得自應給付之契約價款中如數扣除。</i>
        <br><i style="padding-left: 1em;">2、任何一方於商業活動如涉有不誠信行為之情事，他方得隨時無條件終止或解除契約。</i>
        <br><i style="padding-left: 1em;">3、立約人違反法令規定、損及貴行權益或有其他不法行為。</i>
        <br>
        <br><span style="font-weight: bold;">十五、貴行申訴專線</span>
        <br>免付費服務專線：0800-033-175
        <br>電話：(04)2227-3131
        <br>傳真：(04)2227-9191
        <br>電子信箱：<i style="text-decoration:underline;">e_bank@tcb-bank.com.tw</i>
        <br>
        <br><span style="font-weight: bold;">十六、金融消費者爭議</span>
        <br><i style="padding-left: 2em;">立約人對 貴行因本約定書所載之商品或服務所生之金融消費爭議，同意於金融消費者保護法所稱爭議處理機構得受理範圍內，適用該機構所訂爭議處理程序。</i>
        <br>
        <br><span style="font-weight: bold;">十七、管轄法院</span>
        <br><i style="padding-left: 2em;">本約定條款準據法，依中華民國法律，因本約定事項而涉及訴訟者，雙方同意以貴行總公司或立約所在地為履行地，並以該所在地之地方法院為第一管轄法院。但不得排除消費者保護法第四十七條或民事訴訟法第四百三十六條之九小額訴訟管轄法院之適用。</i>
        <br>
        <br><span style="font-weight: bold;">十八、適用法令</span>
        <br><i style="padding-left: 2em;">本約定事項未盡事宜，除本約定事項另有約定外，其餘如消費者保護、個人資料保護等約定事項悉依 貴行「開戶總約定書」(含其變更或修訂)之相關約定辦理。</i>
        <br>
      </p>
  </div>

  <div class="row_single">
    <div class="inner_checkbox" id="agree1">
      <input
        type="checkbox"
        id="checkbox_normal1"
        name="subBox"
        [(ngModel)]="agreed"
      />
      <label for="checkbox_normal1">
        <span><i></i></span>
        <b class="firstagree">我已閱讀並同意以上無卡提款約定條款。</b>
      </label>
    </div>
  </div>

  <div class="row_single">
    <div class="double_button">
      <a (click)="notAgree()">不同意</a>
      <a (click)="agree()" id="next_step">瞭解並同意</a>
    </div>
  </div>
  </div>
</section>
