<!--header-->
<div class=" header_bar">
    <header class="main_nav">
        <div class="back_bt" ng-click="clickBack()">
            <p class="back_title">返回</p>
        </div>
        <div class="page_title">基金測試</div>
        <div class="bank_logo"><img src="ui/tcbbOldStyle/image/cobanklogo.png"></div>
    </header>
</div>
<!--header end-->
<br><br><br><br><br><br>
<!--section -->
<div class="row content" style="text-align:center;">
	<!-- 有庫存<br>無庫存<br>全部<br><br> -->
	<button type="button" ng-click="click1()" style="width:50%;height:50px;" ><p>定期(不)定額查詢/異動</p></button><br><br>
	<button type="button" ng-click="click2()" style="width:50%;height:50px;" ><p>現金收益存入帳號異動</p></button><br><br>
    <button type="button" ng-click="click3()" style="width:50%;height:50px;" ><p>停損/獲利點通知設定</p></button><br><br>
    <button type="button" ng-click="click4()" style="width:50%;height:50px;" ><p>信託對帳單寄送方式</p></button><br><br>
</div>
<!--section end-->


