<div  class="popup_window popup_open">
        <div class="popup_content">
            <div class="row_single">
                <h4 class="simple_title">交易作業</h4>
            </div>
        <div class="row_single">
            <ul class="inner_table_frame">
                <li class="inner_table_cell">
                    憑證保護密碼
                </li>
                <li class="inner_table_cell">
                    <input type="text"  name="Pw" class="inner_input">
                </li>
            </ul>
        </div>
        <div class="row_single">
            <div class="double_button">
                <a href="javascript:void('0')">取消</a>
                <a (click)="onResult();">確定</a>
            </div>
        </div>
        <div class="row_single">
            <h4 class="simple_title">提醒您</h4>
        </div>
        <div class="row_single">
            <p class="inner_content"> 1.本行自即日起已取消「NON-SET密碼」，請直接輸入您的「憑證保護密碼」。<br>
                2.「憑證保護密碼」為您申請憑證時，自行設定4-12位英數字轉帳密碼，若忘記此密碼，請洽本行營業單位辦理。
            </p>
        </div>
    </div>
</div>