<!--header-->
    <div class="header_bar">
        <header class="main_nav">
            <div class="no_bt" ></div>
            <div class="page_title">QRCode繳稅確認</div>
            <div class="bank_logo"><img src="ui/tcbbOldStyle/image/cobanklogo.png" ></div>
        </header>
    </div> <!--row-->
    <!--header end-->

    <!--section 轉帳確認-->
    <div class="row content">
        <section class="main_sec">

            <div class="notice_location"><p>請確認轉帳資訊</p></div>
            <div class="notice_location"><p>以及是否要繼續交易！！</p></div>


            <div class="row">
                <div class="main_content">
                     <div class="confirm_input">

                    <div class="content_infor">
                        <div class="content_text">
                            <p>繳款類別:</p>
                        </div>
                        <div class="input_warning"><input type="text" class="content_input" ng-model="qrcode.payCategory1" readonly></div>
                    </div>

                    <div class="content_infor">
                        <div class="content_text">
                            <p>銷帳編號:</p>
                        </div>
                        <div class="input_warning"><input type="text" class="content_input" ng-model="qrcode.payNo" readonly></div>
                    </div>

                    <div class="content_infor">
                        <div class="content_text">
                            <p>繳款金額:</p>
                        </div>
                        <div class="input_warning"><input type="text" class="content_input" ng-model="qrcode.trnsfrAmount" readonly></div>
                    </div>                    

                    <div class="content_infor">
                        <div class="content_text">
                            <p>交易帳號:</p>
                        </div>
                        <div class="input_warning"><input type="text" class="content_input" ng-model="paymentData.trnsfrOutAcct" readonly></div>
                    </div>
                         
                     </div> <!--main_input end-->

                    <!--content_checkbt 按鈕組合-->
                    <div class="row">
                        <div class="content_bt">
                            <button type="button" class="confirm_bt " ng-click="clickSubmit()">確定</button>
                            <button type="button" class="cancel_bt " ng-click="clickCancel()">取消</button>
                        </div>
                    </div>
                    <!--content_checkbt 按鈕組合 end-->

                </div> <!--main_content end-->
             </div> <!--row end-->
        </section> <!--main_sec end-->
    </div>
    <!--section 轉帳確認-->