<div class="bc_frame">
	<div class="terms_frame">
		<p>
			1.有票證功能(悠遊卡、一卡通及icash)之聯名信用卡掛失作業一經完成，該卡片即失效，並無法取消掛失作業。
		<br/>2.掛失費將列入次期信用卡帳單，本行代收每卡掛失手續費200元。【免收掛失費之卡別：Combo卡及商務卡】
		<br/>3.有票證功能(悠遊卡、一卡通及icash)之聯名信用卡，掛失作業完成後，悠遊卡、一卡通及愛金卡公司與本行將會協助確認卡片儲值金餘額，並於45個工作天內將餘額返還至您的帳單並抵扣次期信用卡帳單款項。
		<br/>4.為了確保您的用卡權益，信用卡掛失成功後，請即來電至本行客服中心
		0800-033175、<a href="tel:0422273131" style="color:blue; text-decoration: block;">(04)2227-3131</a>、<a href="tel:0223319370" style="color:blue; text-decoration: block;">(02)2331-9370</a>
		查詢辦理信用卡掛失手續時前二十四小時內消費情形。
		<br/><font style="color: red;">5.掛失補發信用卡之卡號會變更，提醒您，若原先已有固定的扣款費用(例如：保費、民營電信費、捐款等)，請向原申請單位聯繫變更卡片資料。</font>
		</p>
	</div>
</div>
<div class="bc_frame">
	<div class="row_single2">
		<button class="button_confirm" ng-click="setNext('applyLost')">{{'CTRL_LOST_CARD.BTN.APPLY' | translate}}</button><!-- 申請掛失 -->
	</div>
</div>
