
   <ng-container *ngIf="check">
    <div class="row_single">
      <h4 class="simple_title">交易作業</h4>
    </div>
  <div class="row_single">
    
    <ul [ngClass]="ulClass" >
      <li class="inner_table_cell">
        憑證保護密碼
      </li>
      <li class="inner_table_cell" >
        <input type="password"  maxlength='12' name='' [(ngModel)]="returnObj.CA_val" class="inner_input">
      </li>
    </ul>
    <i class="input_info_warnning">{{CA_error_msg}}</i>
  </div>

  <app-captcha *ngIf="(transAccountType==='2' && showCaptcha===true)"></app-captcha>
  
  <div class="row_single">
    <div class="double_button">
      <a (click)="no()">取消</a>
      <a (click)="yes()">確定</a>
    </div>
  </div>
  <div class="row_single">
    <h4 class="simple_title">提醒您</h4>
  </div>
  <div class="row_single">
    <p class="inner_content">
      「憑證保護密碼」為您申請憑證時，自行設定之轉帳密碼(4-12位英數字、符號)，若忘記此密碼，需回本行營業單位重新申請憑證。
    </p>
  </div>
</ng-container> 
