<ng-container *ngIf="!showNextPage">
    <section>
        <ng-container *ngIf="showData">
            <ul class="credit_card_bill_detail_list">
                <li *ngFor="let data of datas">
                    <p class="credit_card_name">
                        <i>借款帳號：</i><i>{{(data| fieldCheck:'borrowAccount')| accountFormate}}</i>
                    </p>
                    <p>
                        <span>原核准金額</span><span>{{(data| fieldCheck:'oriBorrowCapital') | currencyMoney}}</span>
                    </p>
                    <p>
                        <span>最低應繳本息金額</span><span>{{(data| fieldCheck:'lowestAmount') | currencyMoney}}</span>
                    </p>
                    <p>
                        <span>狀態</span><span>{{data| fieldCheck:'payTypeDesc'}}</span>
                    </p>
                    <p>
                        <span>上次利息收訖日</span><span>{{(data| fieldCheck:'lastInterRecDay') |htDate:'date' }}</span>
                    </p>
                    <p>
                        <span>現欠本金</span><span>{{(data| fieldCheck:'nowBorrowCapital') | currencyMoney}}</span>
                    </p>
                    <p>
                        <span>截至本期應繳金額</span><span>{{(data| fieldCheck:'totalAmount') | currencyMoney}}</span>
                    </p>
                    <a href="javascript:void(0)" class="" (click)="onListEvent(data)">繳款</a>
                </li>

            </ul>
            <ng-template>
                <div class="sub_info_subtitle">查無資料</div>
            </ng-template>
        </ng-container>
    </section>
</ng-container>
<ng-container *ngIf="showNextPage">
    <app-info-check [data]="data"></app-info-check>
</ng-container>
