<!--AppView/msg/FUND07.html-->
<!-- popup window -->
<div class="popup_window popup_open" id="info">
    <!-- 「popup_open」為開啟popup的樣式，將此樣式移除可關閉popup -->
    <div class="popup_content">
        <!-- 副標列 -->
        <div class="row_single">
            <h4 class="simple_title">贖回的限制</h4>
        </div>
        <!-- 副標列 End -->
        <div class="row_single">
            <p class="inner_content">
                一、贖回說明：
                <br> （一）全部贖回：
                <br> 需於受益權單位分配完成後始可辦理。定期定額扣款基金全部贖回後，除另有約定外，視為委託人終止該筆委託投資，本行嗣後不再繼續扣款。
                <br> （二）部分贖回：
                <br> 定期定額投資部分贖回後，仍以原扣款基金繼續扣款投資。以申請日所持有單位數之信託金額辦理部分贖回，但該交易編號下基金部分贖回後贖回之基金剩餘信託金額需符合下列規定
                <br> 1. 新台幣信託：不得低於新台幣 1 萬元，以新台幣萬元為贖回申請單位，但國內債券型基金贖回剩餘金額不得低於新台幣 10 萬元。
                <br> 2. 外幣信託：贖回之基金剩餘信託金額，部分贖回申請金額/增加單位如下：
            </p>

            <div class="table_chbox_frame">
                <div class="table_chbox_row">
                    <div class="table_chbox_th">
                        幣別
                    </div>
                    <div class="table_chbox_th" style="text-align:center;">贖回剩餘金額</div>
                    <div class="table_chbox_th" style="text-align:center;">贖回申請金額</div>
                    <div class="table_chbox_th" style="text-align:center;">增加單位</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">美金USD </div>
                    <div class="table_chbox_td" style="text-align:center">300元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">歐元EUR </div>
                    <div class="table_chbox_td" style="text-align:center">300元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">英鎊GBP </div>
                    <div class="table_chbox_td" style="text-align:center">300元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">澳幣AUD </div>
                    <div class="table_chbox_td" style="text-align:center">300元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">新加坡幣SGD </div>
                    <div class="table_chbox_td" style="text-align:center">300元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">瑞土法郎CHF </div>
                    <div class="table_chbox_td" style="text-align:center">300元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">加拿大幣CAD</div>
                    <div class="table_chbox_td" style="text-align:center">300元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                    <div class="table_chbox_td" style="text-align:center">100元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">港幣HKD </div>
                    <div class="table_chbox_td" style="text-align:center">3,000元</div>
                    <div class="table_chbox_td" style="text-align:center">1,000元</div>
                    <div class="table_chbox_td" style="text-align:center">1,000元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">瑞典克朗SEK </div>
                    <div class="table_chbox_td" style="text-align:center">3,000元</div>
                    <div class="table_chbox_td" style="text-align:center">1,000元</div>
                    <div class="table_chbox_td" style="text-align:center">1,000元</div>
                </div>
                <div class="table_chbox_row">
                    <div class="table_chbox_td">日圓JPY</div>
                    <div class="table_chbox_td" style="text-align:center">30,000元</div>
                    <div class="table_chbox_td" style="text-align:center">10,000元</div>
                    <div class="table_chbox_td" style="text-align:center">10,000元</div>
                </div>
            </div>

            <p class="inner_content">
                但本行、基金公司或信託投資標的對贖回金額另有規定者，從其所定。
                <br> 二、	信託管理費收取方式：國外基金每次每筆最低為新台幣500元（等值外幣）；國內基金除國內債券型基金暫不收取外，餘每次每筆最低為新台幣 200 元。但本行對信託管理費最低金額另有規定者，從其所定。
            </p>
            <div class="row_single"></div>
            <div class="row_single">
                <a class="button_confirm" (click)="onConfirm()">確定</a>
            </div>
        </div>

    </div>
</div>
