<div>
	<ul class="sublink_frame">
		<li><a href="javascript:void(0);" ng-click="resultPage(cardKey,0);">{{'CTRL_BILL_SEARCH.PERIOD_NOW' | translate}}</a></li>
		<li><a href="javascript:void(0);" ng-click="resultPage(cardKey,1);">{{'CTRL_BILL_SEARCH.PERIOD_1' | translate}}</a></li>
		<li><a href="javascript:void(0);" ng-click="resultPage(cardKey,2);">{{'CTRL_BILL_SEARCH.PERIOD_2' | translate}}</a></li>
	</ul>
	<!--div class="bc_frame">
		<div class="button_row">
			<button class="button button_submit"  ng-click="showPage(1)">{{'BTN.BACK' | translate}}</button>
		</div>
	</div-->
</div>