<section class="background1_a11y small_top_padding_a11y">
		<a (click)="gowithlogin('a11yDeviceBind')">
			<button class="feature_btn_device_bind_a11y">
				<p class="font_feature_a11y">{{"FUNC_SUB.USER_SET.TRANS_DEVICE" | translate}}</p>
			</button>
		</a>
		<a (click)="gowithlogin('a11ychangenamekey')">
			<button class="feature_btn_account_a11y">
				<p class="font_feature_a11y">使用者代號變更</p>
			</button>
		</a>
    	<a (click)="gowithlogin('a11ychangepwdkey')">
			<button class="feature_btn_pwd_a11y">
				<p class="font_feature_a11y">使用者密碼變更</p>
			</button>
		</a>
		<a (click)="gowithlogin('a11ychangesslpwdkey')">
			<button class="feature_btn_SSL_a11y">
				<p class="font_feature_a11y">SSL轉帳密碼變更</p>
			</button>
		</a>
	</section>
