<div class="sub_info_subtitle">
    請確認轉帳資訊以及是否要繼續交易
</div>
<ul class="table_info">
    <li class="table_row">
        <span>扣款帳號</span>
        <i>{{hinetFeeConfirm.trnsfrOutAccnt | accountFormate }}</i>
    </li>
    <li class="table_row">
        <span>電話號碼</span>
        <i>{{hinetFeeConfirm.phone}}</i>
    </li>
    <li class="table_row">
        <span>出帳年月</span>
        <i>{{hinetFeeConfirm.billDt}}</i>
    </li>
    <!-- <li class="table_row">
        <span>帳單種類</span>
        <i>{{hinetFeeConfirm.billType}}</i>
    </li> -->
    <li class="table_row">
        <span>繳交期限</span>
        <i>{{hinetFeeConfirm.dueDt  | htDate:'yyyy/MM/dd'}}</i>
    </li>
    <li class="table_row">
        <span>欠費金額</span>
        <i>{{hinetFeeConfirm.payableAmount | currencyMoney: 'TWD'}}元</i>
    </li>
</ul>
<div class="row_single"></div>
<app-check-security [securityObj]="securityObj" (stepObj)=stepBack($event)></app-check-security>
<div class="row_single">
    <div class="double_button">
        <a href="javascript:void(0)" (click)="cancelEdit()">{{'BTN.PREVIOUS' | translate }}</a>
        <a href="javascript:void(0)" (click)="finalCheck()">{{'BTN.CHECK' | translate }}</a>
    </div>
</div>