<div>
    <div class="login_navigation">
        <img src="modules/login/image/header_logo_green.png" height="32px">
    </div>
    <div class="login_navigation2">
    </div>
    <div class="agreement_title">
        <h2>帳號未綁定</h2>
    </div>
    <div class="disagreement_text">
        <p>您的帳號尚未綁定快速登入，是否要進行綁定?</p>      
    </div>
    
    <div class="agreement_button">
        <button class="first_leftbtn" ng-click="goNext()">設定</button>
        <button class="first_rightbtn" ng-click="goNext2()">取消</button>
    </div>

</div>