<div class="content_infor">
    <div class="content_text2" style="min-width: 125px;">
        <p>目前您的轉帳機制:</p>
    </div>
    <div class="input_warning2" style="width: 60px;">
        <input type="text" class="content_input" ng-model="defaultSecurityType.name" readonly>
    </div>
    <div class="content_text_chang" ng-click="clickChangeSceurityType(true)" ng-if="anotherSecurityType.length>0">
        <p style="width: 30px;">變更</p>
    </div>
    <div class="content_sign" ng-if="anotherSecurityType.length>0">
        <i class="fa fa-chevron-right " aria-hidden="true"></i>
    </div>
</div>
<div class="content_infor" ng-show="defaultSecurityType.key=='SSL'">
    <div class="content_text" style="min-width: 125px;">
        <p>SSL轉帳密碼:</p>
    </div>
    <div class="input_warning"><input type="password" class="content_input"  maxlength="16" style="width: 90%;" ng-model="sslkey"  placeholder="請輸入SSL轉帳密碼"></div>
</div>


<!-- 跳出選擇轉帳機制視窗 -->
<div ng-if="onChangeSecurityType">
    <div class="shadow" style="display: block" ng-click="clickChangeSceurityType(false)"></div>
    <div class="pop_content">
        <a ng-repeat="securityType in anotherSecurityType">
            <div style="border-bottom: 1px solid #dddddd;padding:5px;"  class="securityType" ng-click="changeSecurity(securityType)">{{securityType.name}}</div>
        </a>
    </div>
    <!--pop_pay end-->
</div>
<!-- 跳出選擇轉帳機制視窗 // End -->

<style>
    .pop_content {
        /*此行指定放置廣告的div */
        width: auto;
        /*此行設定div的寬度*/
        height: auto;
        /*此行設定div的高度*/
        background-color: #ffffff;
        /*此行設定div的背景圖形*/
        box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
        /*此行設定div的外框陰影*/
        position: fixed;
        /*此行設定div為不隨捲動而移動的模式*/
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        line-height: 24px;
        width: 80%;
        padding: 10px;
    }
</style>