<!-- 首頁底部廣告區塊(薑圖片連結寫在 style 內即可) -->
<!-- <a class="footer_banner" href="http://www.tcb-bank.com.tw/creditcard/discount_news/Documents/107最新活動/1070201刷合庫卡請您喝咖啡.jpg" target="_blank"><img src="ui/images/blank.gif" alt="" style="background-image: url(ui/data/ad/footer.jpg);" /></a> -->
<a class="footer_banner" href="https://www.tcb-bank.com.tw/creditcard/discount_news/Documents/lohas/index.html" target="_blank"><img src="ui/images/blank.gif" alt="" style="background-image: url(ui/data/ad/footer.jpg);" /></a>
<!-- 首頁底部廣告區塊(薑圖片連結寫在 style 內即可) //End -->