<div class="status_bar" ng-if="ios"></div>
<!--header-->
<div class="header_bar " ng-class="{ios_header_bar:ios}" >
    <header class="main_nav">
        <div class="back_bt" ng-click="clickBack()">
            <p class="back_title">返回</p>
        </div>
        <div class="page_title">轉帳購物</div>
        <div class="bank_logo"><img src="ui/tcbbOldStyle/image/cobanklogo.png"></div>
    </header>
</div>
<!--row-->
<!--header end-->

<!--section QRCode掃描後輸入頁面-->
<div class="row">
    <section class="main_sec">
        <div class="row">
            <div class="main_content">
                <div class="main_input">

                    <div class="content_infor">
                        <div class="content_text">
                            <p>特店名稱:</p>
                        </div>
                        <div class="input_warning"><input type="text" class="content_input" ng-model="qrcode.merchantName" readonly></div>
                    </div>

                    <div class="content_infor">
                        <div class="content_text">
                            <p>訂單編號:</p>
                        </div>
                        <div class="input_warning"><input type="text" class="content_input" ng-model="qrcode.orderNbr" readonly></div>
                    </div>
                    
                    <div class="content_infor">
                        <div class="content_text">
                            <p>轉出帳號:</p>
                        </div>
                        <div class="input_warning"><input type="text" class="content_input" ng-model="form.trnsfrOutAcct" readonly></div>
                    </div>

                    <div class="content_infor">
                        <div class="content_text">
                            <p>轉入行庫:</p>
                        </div>
                        <div class="input_warning"><input type="text" class="content_input" ng-model="qrcode.transfereeBank" readonly></div>
                        
                    </div>

                    <div class="content_infor">
                        <div class="content_text">
                            <p>轉入帳號:</p>
                        </div>
                        <div class="input_warning"><input type="text" class="content_input" ng-model="qrcode.transfereeAccount" readonly></div>
                    </div>

                   

                    <div class="content_infor">
                        <div class="content_text">
                            <p>轉帳金額:</p>
                        </div>
                        <div ng-if="!disableAmountInput" class="input_warning"><input type="Number" class="content_input" ng-model="form.txnAmt" placeholder="請輸入轉帳金額" ></div>
                        <div ng-if="disableAmountInput" class="input_warning"><input type="text" class="content_input" ng-model="form.txnAmt" placeholder="請輸入轉帳金額" readonly></div>
                    </div>

                    <!-- <div class="content_infor">
                        <div class="content_text"></div>
                    <div ng-show="value2" >
                    <p style="color:red"><font size="2" face="Verdana">請輸入交易金額</font></p>
                    </div></div> -->

                    
                    <div ng-show="value2" >
                    <p style="color:red" align="center"><font size="2" face="Verdana">請輸入交易金額</font></p>
                    </div>
                    

                    <div class="content_infor">
                        <div class="content_text2" style="min-width: 125px;">
                            <p>目前您的轉帳機制:</p>
                        </div>
                        <div class="input_warning2" style="width: 60px;"><input type="text"  class="content_input" ng-model="defaultSecurityType.name" readonly></div>
                        <div class="content_text_chang" ng-click="clickChangeSceurityType(true)" ng-if="anotherSecurityType">
                            <p style="width: 30px;">變更</p>
                        </div>
                        <div class="content_sign" ng-if="anotherSecurityType"><i class="fa fa-chevron-right " aria-hidden="true"></i></div>
                    </div>
                    <!-- <security-selector-directive></security-selector-directive> -->
                    

                    <p>&nbsp;</p>
                    

                    <div >
                    <div div class="content_text2" style="min-width: 125px;">
                        <p>付款人自我備註:</p>
                    </div>
                    <div class="input_warning"><input type="text" class="content_input" ng-model="qrcode.merchantName1"  ></div>
                    <p style="color:red;font-size:13px;" >自動代入特店名稱，文字可修改長度限16位英數字或8個中文字</p>
                    </div>

                    <p>&nbsp;</p>
                     

                    

                    <div >
                    <div div class="content_text2" style="min-width: 230px;">
                            <p>給收款人訊息，限本行轉入帳號:</p>
                    </div>
                    <div class="input_warning"><input type="text" class="content_input" ng-model="qrcode.orderNbr1"  ></div>
                    <p style="color:red;font-size:13px;" >自動代入訂單編號，文字可修改長度限16位英數字或8個中文字</p>
                    </div>
                </div>

                    <!--content_checkbt 按鈕組合-->
                    <div class="row">
                        <div class="content_bt">
                            <button type="button" class="confirm_bt" ng-click="clickSubmit()">確定</button>
                            <button type="button" class="cancel_bt" ng-click="clickCancel()">取消</button>
                        </div>
                    </div>
                    <!--content_checkbt 按鈕組合 end-->

                </div>
                <!--main_input end-->
            </div>
            <!--main_content end-->
        </div>
        <!--row end-->
    </section>
    <!--main_sec end-->
</div>

<!-- 跳出繳費作業視窗 -->
<div ng-if="onChangeSecurityType">
<div class="shadow" style="display: block" ng-click="clickChangeSceurityType(false)"></div>
<div class="row" >
    <div class="pop_securityType">
        <a><div class="securityType" ng-click="changeSecurity(anotherSecurityType.key)" >{{anotherSecurityType.name}}</div>
    </div> <!--pop_pay end-->
</div>
</div>
<!-- 跳出繳費作業視窗 // End -->
