<section class="background1_a11y">
    <!-- 功能按鈕 -->
    <!-- <div class="acc_btn"> -->
    <a (click)="gowithoutlogin('a11yaccountkey')">
        <button class="btn1_all_a11y">
            <p class="bottom_white_a11y">帳戶查詢</p>
        </button>
    </a>
    <a (click)="gowithlogin('a11ypredesignatedtransferkey')">
        <button class="btn2_all_a11y">
            <p class="bottom_white_a11y">約定轉帳</p>
        </button>
    </a>
    <a (click)="gowithlogin('a11yNoPredesignatedTransferkey')">
        <button class="btn7_all_a11y">
            <p class="bottom_white_a11y">非約定轉帳</p>
        </button>
    </a>
    <a (click)="gowithoutlogin('a11ysettingmenutkey')">
        <button class="btn3_all_a11y">
            <p class="bottom_white_a11y">個人設定</p>
        </button>
    </a>
    <a (click)="gowithoutlogin('a11yfinancialinfokey')">
        <button class="btn5_all_a11y">
            <p class="bottom_white_a11y">金融資訊</p>
        </button>
    </a>
    <a (click)="gowithoutlogin('a11yguidekey')">
        <button class="btn4_all_a11y">
            <p class="bottom_white_a11y">功能導覽</p>
        </button>
    </a>
    <a (click)="exitA11y()">
      <button class="btn6_all_a11y">
          <p class="bottom_white_a11y">返回完整版</p>
      </button>
  </a>
    <!-- </div> -->
</section>
