<section class="background1_a11y">
  <a (click)="gowithlogin('a11ytaiwandepositkey')">
    <button class="feature_btn_twd_a11y">
      <p class="font_feature_a11y">台幣存款查詢</p>
    </button>
  </a>
  <a (click)="gowithlogin('a11yforeigndepositkey')">
    <button class="feature_btn_for_a11y">
      <p class="font_feature_a11y">外匯存款查詢</p>
    </button>
  </a>
  <a (click)="gowithlogin('a11yloankey')">
    <button class="feature_btn_loan_a11y">
      <p class="font_feature_a11y">借款查詢</p>
    </button>
  </a>
</section>
