<div class="sub_info_subtitle">
    請確認轉帳資訊以及是否要繼續交易
</div>
<ul class="table_info">
    <li class="table_row">
        <span>扣款帳號</span>
        <i>{{laborHealthNationalConfirm.account | accountFormate }}</i>
    </li>
    <li class="table_row">
        <span>條碼一</span>
        <i>{{laborHealthNationalConfirm.barcode1}}</i>
    </li>
    <li class="table_row">
        <span>條碼二</span>
        <i>{{laborHealthNationalConfirm.barcode2}}</i>
    </li>
    <li class="table_row">
        <span>條碼三</span>
        <i>{{laborHealthNationalConfirm.barcode3}}</i>
    </li>
    <li class="table_row">
        <span>應繳總金額</span>
        <i>{{trnsfrAmount | currencyMoney:'TWD'}}元</i>
    </li>

</ul>

<div class="row_single"></div>
<app-check-security [securityObj]="securityObj" (stepObj)=stepBack($event)></app-check-security>
<div class="row_single">
    <div class="double_button">
        <a href="javascript:void(0)" (click)="cancelEdit()">{{'BTN.PREVIOUS' | translate }}</a>
        <a href="javascript:void(0)" (click)="finalCheck()">{{'BTN.CHECK' | translate }}</a>
    </div>
</div>